body {
  margin: 0;
  line-height: normal;
}
.obraz-1-icon11 {
  position: absolute;
  top: 77px;
  left: 66px;
  width: 329px;
  height: 160px;
  object-fit: cover;
}
.kierownik-pokazwnioski-child {
  position: absolute;
  top: 103px;
  left: 639px;
  background-color: var(--color-gray-200);
  width: 683px;
  height: 215px;
}
.applicationid2 {
  position: absolute;
  top: 114px;
  left: 650px;
  display: flex;
  align-items: center;
  width: 177px;
  height: 26px;
}
.data-aplikacji5,
.data-rozpatrzenia5,
.data-weryfikacji2 {
  position: absolute;
  top: 278px;
  left: 648px;
  display: inline-block;
}
.data-aplikacji5,
.data-weryfikacji2 {
  top: 220px;
}
.data-weryfikacji2 {
  top: 249px;
}
.dateofapplication5,
.dateofconsideration5,
.dateofveryfication2 {
  position: absolute;
  top: 277px;
  left: 1042px;
  display: inline-block;
}
.dateofapplication5,
.dateofveryfication2 {
  top: 219px;
}
.dateofveryfication2 {
  top: 248px;
}
.status5,
.statusakt5,
.typ-dokumentu4,
.type2 {
  position: absolute;
  top: 146px;
  left: 648px;
  display: inline-block;
}
.status5,
.statusakt5,
.type2 {
  left: 1043px;
}
.status5,
.statusakt5 {
  top: 181px;
  left: 648px;
}
.statusakt5 {
  left: 1043px;
}
.kierownik-pokazwnioski-item {
  position: absolute;
  top: 95px;
  left: 518px;
  background-color: var(--color-gray-600);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 930px;
  height: 850px;
}

.table{
  border-spacing: 0;
  margin: 1rem;
  background-color: #f5f5f5;
}

.table__row:nth-child(even){
  background-color: #e5e5e5;
}

.table__header {
  text-align: left;
}

.table__cell{
  padding: 8px;
}

{
Overflow-x:scroll;//add horizontal bar option in html
Overflow-y:scroll; //add vertical bar option in html
}

.edytujklientowbutton-child7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 55.12px;
}
.edytuj-dane-kllienta11 {
  position: absolute;
  height: 90.63%;
  top: 4.69%;
  left: calc(50% - 127.07px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255.19px;
}
.edytujklientowbutton10,
.pokazwnioskibutton10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 772.11px;
  left: 116px;
  width: 387px;
  height: 55.12px;
}
.pokazwnioskibutton10 {
  top: 439.59px;
}
.pokazzgloszeniabutton-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 66.31px;
}
.poka-zgoszenia-bdw10 {
  position: absolute;
  height: 90.62%;
  top: 4.69%;
  left: calc(50% - 127.07px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255.19px;
}
.dodajklientabutton10,
.pokazwnioskiklientowbutton11,
.pokazzgloszeniabutton1,
.przegladajzgloszeniabutton10,
.zglosbladbutton10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 586.86px;
  left: 116px;
  width: 387px;
  height: 66.31px;
}
.dodajklientabutton10,
.pokazwnioskiklientowbutton11,
.przegladajzgloszeniabutton10,
.zglosbladbutton10 {
  top: 517.96px;
  height: 55.12px;
}
.dodajklientabutton10,
.pokazwnioskiklientowbutton11,
.przegladajzgloszeniabutton10 {
  top: 922.21px;
}
.dodajklientabutton10,
.przegladajzgloszeniabutton10 {
  top: 842.11px;
  height: 66.31px;
}
.dodajklientabutton10 {
  top: 701px;
  height: 55.12px;
}
.pokazdanebutton10,
.zlozwniosekbutton-child8,
.zlozwniosekbutton10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 53.4px;
}
.pokazdanebutton10,
.zlozwniosekbutton10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 375px;
  left: 116px;
}
.pokazdanebutton10 {
  top: 299px;
}
.kierownik-pokazwnioski {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
