body {
  margin: 0;
  line-height: normal;
}
.dataurodzeniacheck2,
.kierownik-zglosblad-child,
.miejsceurodzeniacheck1 {
  position: absolute;
  top: 56px;
  left: 695px;
  background-color: var(--color-gray-600);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 640px;
  height: 875px;
}
.dataurodzeniacheck2,
.miejsceurodzeniacheck1 {
  cursor: pointer;
  top: 254px;
  left: 1279px;
  background-color: var(--color-gray-100);
  border: 2px solid var(--color-black);
  width: 21px;
  height: 21px;
}
.miejsceurodzeniacheck1 {
  top: 295px;
}
.dataurodzeniacheck3,
.imiecheck1,
.kodpocztowycheck1,
.miejscezamieszkaniacheck1,
.nazwiskocheck1,
.numerdomucheck1,
.numermieszkaniacheck1,
.numertelefonucheck1,
.peselcheck1,
.pleccheck1,
.stancheck1,
.ulicacheck1 {
  cursor: pointer;
  position: absolute;
  top: 336px;
  left: 1279px;
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 21px;
  height: 21px;
}
.dataurodzeniacheck3,
.imiecheck1,
.kodpocztowycheck1,
.miejscezamieszkaniacheck1,
.nazwiskocheck1,
.numerdomucheck1,
.numermieszkaniacheck1,
.numertelefonucheck1,
.peselcheck1,
.stancheck1,
.ulicacheck1 {
  top: 383px;
}
.dataurodzeniacheck3,
.imiecheck1,
.kodpocztowycheck1,
.nazwiskocheck1,
.numerdomucheck1,
.numermieszkaniacheck1,
.numertelefonucheck1,
.peselcheck1,
.stancheck1,
.ulicacheck1 {
  top: 429px;
}
.dataurodzeniacheck3,
.imiecheck1,
.nazwiskocheck1,
.numerdomucheck1,
.numermieszkaniacheck1,
.numertelefonucheck1,
.peselcheck1,
.stancheck1,
.ulicacheck1 {
  top: 469px;
}
.dataurodzeniacheck3,
.imiecheck1,
.nazwiskocheck1,
.numerdomucheck1,
.numermieszkaniacheck1,
.numertelefonucheck1,
.peselcheck1,
.stancheck1 {
  top: 512px;
}
.dataurodzeniacheck3,
.imiecheck1,
.nazwiskocheck1,
.numermieszkaniacheck1,
.numertelefonucheck1,
.peselcheck1,
.stancheck1 {
  top: 555px;
}
.dataurodzeniacheck3,
.imiecheck1,
.nazwiskocheck1,
.numertelefonucheck1,
.peselcheck1,
.stancheck1 {
  top: 609px;
}
.dataurodzeniacheck3,
.imiecheck1,
.nazwiskocheck1,
.peselcheck1,
.stancheck1 {
  top: 657px;
}
.dataurodzeniacheck3,
.imiecheck1,
.nazwiskocheck1,
.peselcheck1 {
  top: 701px;
}
.imiecheck1,
.nazwiskocheck1,
.peselcheck1 {
  top: 205px;
}
.imiecheck1,
.peselcheck1 {
  top: 161px;
}
.peselcheck1 {
  top: 118px;
}
.obraz-1-icon13 {
  position: absolute;
  top: 77px;
  left: 66px;
  width: 329px;
  height: 160px;
  object-fit: cover;
}
.wyslijblad-child1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 242px;
  height: 47px;
}
.zgo-bd13 {
  position: absolute;
  height: 90.63%;
  top: 4.69%;
  left: calc(50% - 79.46px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 159.57px;
}
.wyslijblad3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 943px;
  left: 884px;
  width: 242px;
  height: 47px;
}
.data-urodzenia5 {
  position: absolute;
  top: 241px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 74px;
  height: 6px;
}
.birthdate7,
.cityofregistration7 {
  position: absolute;
  top: 251px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.cityofregistration7 {
  top: 380px;
}
.miejsce-zameldowania5 {
  position: absolute;
  top: 370px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 99px;
  height: 7px;
}
.div7,
.flatno7 {
  position: absolute;
}
.flatno7 {
  top: 552px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.div7 {
  top: 556px;
  left: 723px;
  text-align: center;
  display: inline-block;
}
.numer-mieszkania5 {
  position: absolute;
  top: 542px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 81px;
  height: 7px;
}
.div8,
.houseno8 {
  position: absolute;
}
.houseno8 {
  top: 509px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.div8 {
  top: 514px;
  left: 723px;
  text-align: center;
  display: inline-block;
}
.numer-domu5,
.street7 {
  position: absolute;
  left: 714px;
}
.numer-domu5 {
  top: 499px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.street7 {
  top: 466px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.ulica5 {
  top: 457px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.kod-pocztowy5,
.postcode7,
.ulica5 {
  position: absolute;
  left: 714px;
}
.postcode7 {
  top: 426px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.kod-pocztowy5 {
  top: 418px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 100px;
  height: 7px;
}
.gender7 {
  top: 333px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.birthplace7,
.gender7,
.pe5 {
  position: absolute;
  left: 714px;
}
.pe5 {
  top: 323px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.birthplace7 {
  top: 292px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.miejsce-urodzenia5 {
  position: absolute;
  top: 282px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 81px;
  height: 7px;
}
.name7 {
  top: 158px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.imie5,
.name7,
.pesel9 {
  position: absolute;
}
.imie5 {
  top: 148px;
  left: 695px;
  font-size: var(--font-size-3xs);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 7px;
}
.pesel9 {
  top: 114px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.pesel10 {
  top: 104px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.nazwisko5,
.pesel10,
.surname7 {
  position: absolute;
  left: 714px;
}
.surname7 {
  top: 202px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.nazwisko5 {
  top: 192px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.callprefix7 {
  position: absolute;
  top: 605px;
  left: 785px;
  background-color: var(--color-gray-200);
  width: 481px;
  height: 30px;
}
.numer-telefonu5,
.phoneno7 {
  position: absolute;
  left: 714px;
}
.phoneno7 {
  top: 605px;
  background-color: var(--color-gray-200);
  width: 63px;
  height: 30px;
}
.numer-telefonu5 {
  top: 592px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 74px;
  height: 6.14px;
}
.civilstate7 {
  position: absolute;
  top: 654px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.stan-cywilny5 {
  position: absolute;
  top: 645px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 74px;
  height: 6px;
}
.citizenship9 {
  position: absolute;
  top: 697px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 30px;
}
.obywatelstwo5 {
  position: absolute;
  top: 687px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 74px;
  height: 6px;
}
.anna3,
.div10,
.div9,
.kobieta3,
.majkalska3,
.rzeszw3 {
  position: absolute;
  top: 118px;
  left: 720px;
  text-align: center;
  display: inline-block;
}
.anna3,
.div10,
.kobieta3,
.majkalska3,
.rzeszw3 {
  top: 162px;
}
.div10,
.kobieta3,
.majkalska3,
.rzeszw3 {
  top: 205px;
}
.div10,
.kobieta3,
.rzeszw3 {
  top: 255px;
}
.kobieta3,
.rzeszw3 {
  top: 295px;
  left: 723px;
}
.kobieta3 {
  top: 337px;
}
.div11,
.div12,
.div13,
.jana-matejki3,
.katowice3,
.onatyzamna3,
.polskie3 {
  position: absolute;
  top: 384px;
  left: 723px;
  text-align: center;
  display: inline-block;
}
.div11,
.div12,
.div13,
.jana-matejki3,
.onatyzamna3,
.polskie3 {
  top: 430px;
}
.div12,
.div13,
.jana-matejki3,
.onatyzamna3,
.polskie3 {
  top: 469px;
  left: 720px;
}
.div12,
.div13,
.onatyzamna3,
.polskie3 {
  top: 612px;
  left: 795px;
}
.div13,
.onatyzamna3,
.polskie3 {
  top: 610px;
  left: 723px;
}
.onatyzamna3,
.polskie3 {
  top: 658px;
  left: 720px;
}
.polskie3 {
  top: 702px;
}
.citizenship10 {
  position: absolute;
  top: 771px;
  left: 717px;
  background-color: var(--color-gray-200);
  width: 595px;
  height: 33px;
}
.input1,
.podaj-poprawn-warto1,
.wybierz-bdn-warto1 {
  position: absolute;
  top: 753px;
  left: 715px;
  display: flex;
  align-items: center;
  width: 249px;
  height: 7px;
}
.input1,
.wybierz-bdn-warto1 {
  top: 80px;
  left: 710px;
  width: 231px;
  height: 6px;
}
.input1 {
  border: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-xs);
  background-color: transparent;
  top: 777px;
  left: 723px;
  color: var(--color-black);
  text-align: left;
  width: 95px;
  height: 20px;
}
.citizenship11 {
  position: absolute;
  top: 835px;
  left: 715px;
  background-color: var(--color-gray-200);
  width: 595px;
  height: 66px;
}
.fxnkdfjn-bjvnkjbvakjs-xdbshd-f1,
.podaj-opis-bdu1 {
  position: absolute;
  top: 820px;
  left: 720px;
  display: flex;
  align-items: center;
  width: 231px;
  height: 6px;
}
.fxnkdfjn-bjvnkjbvakjs-xdbshd-f1 {
  border: 0;
  background-color: transparent;
  font-family: var(--font-inter);
  font-size: var(--font-size-xs);
  top: 840px;
  left: 717px;
  color: var(--color-black);
  text-align: left;
  width: 589px;
  height: 55px;
}
.edytujklientowbutton-child9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 55.12px;
}
.edytuj-dane-kllienta13 {
  position: absolute;
  height: 90.63%;
  top: 4.69%;
  left: calc(50% - 127.07px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255.19px;
}
.edytujklientowbutton12,
.pokazwnioskibutton12 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 772.11px;
  left: 116px;
  width: 387px;
  height: 55.12px;
}
.pokazwnioskibutton12 {
  top: 439.59px;
}
.pokazzgloszeniabutton-child1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 66.31px;
}
.poka-zgoszenia-bdw12 {
  position: absolute;
  height: 90.62%;
  top: 4.69%;
  left: calc(50% - 127.07px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255.19px;
}
.dodajklientabutton12,
.pokazwnioskiklientowbutton13,
.pokazzgloszeniabutton3,
.przegladajzgloszeniabutton12,
.zglosbladbutton12 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 586.86px;
  left: 116px;
  width: 387px;
  height: 66.31px;
}
.dodajklientabutton12,
.pokazwnioskiklientowbutton13,
.przegladajzgloszeniabutton12,
.zglosbladbutton12 {
  top: 517.96px;
  height: 55.12px;
}
.dodajklientabutton12,
.pokazwnioskiklientowbutton13,
.przegladajzgloszeniabutton12 {
  top: 922.21px;
}
.dodajklientabutton12,
.przegladajzgloszeniabutton12 {
  top: 842.11px;
  height: 66.31px;
}
.dodajklientabutton12 {
  top: 701px;
  height: 55.12px;
}
.pokazdanebutton12,
.zlozwniosekbutton-child10,
.zlozwniosekbutton12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 53.4px;
}
.pokazdanebutton12,
.zlozwniosekbutton12 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 375px;
  left: 116px;
}
.pokazdanebutton12 {
  top: 299px;
}
.kierownik-zglosblad {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
