body {
  margin: 0;
  line-height: normal;
}

.peselinput{
  position: relative;
  width: 339px;
  height: 26px;
  left: 1024px;
  top: 160px;
  background: #D9D9D9;
  border: 0px solid var(--color-black);
  box-sizing: border-box;
}

.info {
  position: relative;
  width: 539px;
  height: 26px;
  left: 400px;
  top: 920px;
  background: #D9D9D9;
  border: 0px solid var(--color-black);
  box-sizing: border-box;
}

.peseltext{
  position: relative;
  top: 161px;
  left: 1024px;
  display: flex;
  align-items: center;
  width: 33px;
  height: 7px;
}

.infotext{
  position: relative;
  top: 910px;
  left: 740px;
  display: flex;
  align-items: center;
  width: 200px;
  height: 7px;
}

.kierownik-edytuj-klienta-child {
  position: absolute;
  top: 122px;
  left: 636px;
  background-color: var(--color-gray-600);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 752px;
  height: 882px;
}
.obraz-1-icon14 {
  position: absolute;
  top: 77px;
  left: 66px;
  width: 329px;
  height: 160px;
  object-fit: cover;
}
.aktualne-dane-klienta1,
.dane-klienta-do-edycji1 {
  position: absolute;
  top: 128px;
  left: 1042px;
  font-size: var(--font-size-sm);
  display: flex;
  align-items: center;
  width: 225px;
  height: 31px;
}
.aktualne-dane-klienta1 {
  top: 133px;
  left: 743px;
  width: 220px;
  height: 22px;
}
.wyslijblad-child2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 325px;
  height: 47px;
}
.edytuj-dane-klienta1 {
  position: absolute;
  height: 95.74%;
  top: 4.26%;
  left: calc(50% - 162.5px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 325px;
}
.wyslijblad4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 517px;
  left: 147px;
  width: 325px;
  height: 47px;
}
.data-urodzenia6 {
  position: absolute;
  top: 320px;
  left: 659px;
  display: flex;
  align-items: center;
  width: 74px;
  height: 10px;
}
.birthdate8,
.cityofregistration8 {
  position: absolute;
  top: 330px;
  left: 659px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 26px;
}
.cityofregistration8 {
  top: 486px;
  height: 27px;
}
.miejsce-zameldowania6 {
  position: absolute;
  top: 476px;
  left: 659px;
  display: flex;
  align-items: center;
  width: 98px;
  height: 6px;
}
.flatno8 {
  position: absolute;
  top: 657px;
  left: 659px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.b18,
.numer-mieszkania6 {
  position: absolute;
  display: flex;
  align-items: center;
}
.b18 {
  top: 661px;
  left: 664px;
  font-size: var(--font-size-xs);
  text-align: center;
  justify-content: center;
  width: 5px;
  height: 19px;
}
.numer-mieszkania6 {
  top: 647px;
  left: 659px;
  width: 84px;
  height: 10px;
}
.b19,
.houseno9 {
  position: absolute;
}
.houseno9 {
  top: 614px;
  left: 659px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.b19 {
  top: 619px;
  left: 664px;
  font-size: var(--font-size-xs);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7px;
  height: 19px;
}
.numer-domu6,
.street8 {
  position: absolute;
  left: 659px;
}
.numer-domu6 {
  top: 604px;
  display: flex;
  align-items: center;
  width: 84px;
  height: 10px;
}
.street8 {
  top: 572px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 26px;
}
.ulica6 {
  top: 563px;
  display: flex;
  align-items: center;
  width: 33px;
  height: 7px;
}
.kod-pocztowy6,
.postcode8,
.ulica6 {
  position: absolute;
  left: 659px;
}
.postcode8 {
  top: 532px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.kod-pocztowy6 {
  top: 524px;
  display: flex;
  align-items: center;
  width: 74px;
  height: 7px;
}
.gender8 {
  top: 411px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.birthplace8,
.gender8,
.pe6 {
  position: absolute;
  left: 659px;
}
.pe6 {
  top: 401px;
  display: flex;
  align-items: center;
  width: 33px;
  height: 7px;
}
.birthplace8 {
  top: 370px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.miejsce-urodzenia6 {
  position: absolute;
  top: 360px;
  left: 659px;
  display: flex;
  align-items: center;
  width: 98px;
  height: 8px;
}
.name8 {
  top: 215px;
  left: 659px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 26px;
}
.imie6,
.name8,
.pesel11 {
  position: absolute;
}
.imie6 {
  top: 205px;
  left: 656px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 7px;
}
.pesel11 {
  top: 171px;
  left: 659px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.pesel12 {
  top: 161px;
  display: flex;
  align-items: center;
  width: 33px;
  height: 7px;
}
.nazwisko6,
.pesel12,
.surname8 {
  position: absolute;
  left: 659px;
}
.surname8 {
  top: 258px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.nazwisko6 {
  top: 248px;
  display: flex;
  align-items: center;
  width: 65px;
  height: 10px;
}
.callprefix8,
.citizenship12,
.civilstate8,
.phoneno8 {
  position: absolute;
  top: 738px;
  left: 703px;
  background-color: var(--color-gray-200);
  width: 295px;
  height: 30px;
}
.citizenship12,
.civilstate8,
.phoneno8 {
  left: 659px;
  width: 37px;
}
.citizenship12,
.civilstate8 {
  top: 813px;
  width: 339px;
  height: 26px;
}
.citizenship12 {
  top: 855px;
  height: 30px;
}
.b20,
.b21,
.obywatelstwo6 {
  position: absolute;
  top: 845px;
  left: 659px;
  display: flex;
  align-items: center;
  width: 74px;
  height: 10px;
}
.b20,
.b21 {
  top: 661px;
  left: 664px;
  font-size: var(--font-size-xs);
  width: 334px;
  height: 23px;
}
.b21 {
  top: 619px;
  height: 22px;
}
.numer-telefonu6 {
  top: 728px;
  left: 659px;
  width: 98px;
  height: 6px;
}
.b22,
.numer-telefonu6,
.stan-cywilny6 {
  position: absolute;
  display: flex;
  align-items: center;
}
.stan-cywilny6 {
  top: 804px;
  left: 661px;
  width: 84px;
  height: 6px;
}
.b22 {
  top: 175px;
  height: 23px;
}
.anna4,
.b22,
.majkalska4 {
  left: 663px;
  font-size: var(--font-size-xs);
  width: 335px;
}
.anna4 {
  position: absolute;
  top: 219px;
  display: flex;
  align-items: center;
  height: 22px;
}
.majkalska4 {
  top: 261px;
  height: 24px;
}
.b23,
.majkalska4,
.rzeszw4 {
  position: absolute;
  display: flex;
  align-items: center;
}
.b23 {
  top: 334px;
  left: 663px;
  font-size: var(--font-size-xs);
  width: 335px;
  height: 22px;
}
.rzeszw4 {
  top: 373px;
  height: 24px;
}
.katowice4,
.kobieta4,
.rzeszw4 {
  left: 664px;
  font-size: var(--font-size-xs);
  width: 334px;
}
.kobieta4 {
  position: absolute;
  top: 415px;
  display: flex;
  align-items: center;
  height: 23px;
}
.katowice4 {
  top: 490px;
}
.b24,
.jana-matejki4,
.katowice4 {
  position: absolute;
  display: flex;
  align-items: center;
  height: 23px;
}
.b24 {
  top: 536px;
  left: 664px;
  font-size: var(--font-size-xs);
  width: 334px;
}
.jana-matejki4 {
  top: 575px;
  left: 663px;
  width: 335px;
}
.b25,
.b26,
.jana-matejki4,
.onatyzamna4 {
  font-size: var(--font-size-xs);
}
.b25 {
  position: absolute;
  top: 745px;
  left: 706px;
  display: flex;
  align-items: center;
  width: 292px;
  height: 19px;
}
.b26,
.onatyzamna4 {
  height: 22px;
}
.b26 {
  position: absolute;
  top: 743px;
  left: 664px;
  display: flex;
  align-items: center;
  width: 35px;
}
.onatyzamna4 {
  top: 817px;
  left: 663px;
  width: 335px;
}
.data-urodzenia7,
.onatyzamna4,
.polskie4 {
  position: absolute;
  display: flex;
  align-items: center;
}
.polskie4 {
  top: 860px;
  left: 663px;
  font-size: var(--font-size-xs);
  width: 335px;
  height: 25px;
}
.data-urodzenia7 {
  top: 323px;
  left: 1024px;
  width: 74px;
  height: 10px;
}
.birthdate10,
.cityofregistration10 {
  position: absolute;
  top: 333px;
  left: 1024px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 26px;
}
.cityofregistration10 {
  top: 489px;
  height: 27px;
}
.miejsce-zameldowania7 {
  position: absolute;
  top: 479px;
  left: 1024px;
  display: flex;
  align-items: center;
  width: 98px;
  height: 6px;
}
.flatno10 {
  position: absolute;
  top: 660px;
  left: 1024px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.b27,
.numer-mieszkania7 {
  position: absolute;
  display: flex;
  align-items: center;
}
.b27 {
  top: 664px;
  left: 1029px;
  font-size: var(--font-size-xs);
  text-align: center;
  justify-content: center;
  width: 5px;
  height: 19px;
}
.numer-mieszkania7 {
  top: 650px;
  left: 1024px;
  width: 84px;
  height: 10px;
}
.b28,
.houseno11 {
  position: absolute;
}
.houseno11 {
  top: 617px;
  left: 1024px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.b28 {
  top: 622px;
  left: 1029px;
  font-size: var(--font-size-xs);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7px;
  height: 19px;
}
.numer-domu7,
.street10 {
  position: absolute;
  left: 1024px;
}
.numer-domu7 {
  top: 607px;
  display: flex;
  align-items: center;
  width: 84px;
  height: 10px;
}
.street10 {
  top: 575px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 26px;
}
.ulica7 {
  top: 566px;
  display: flex;
  align-items: center;
  width: 33px;
  height: 7px;
}
.kod-pocztowy7,
.postcode10,
.ulica7 {
  position: absolute;
  left: 1024px;
}
.postcode10 {
  top: 535px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.kod-pocztowy7 {
  top: 527px;
  display: flex;
  align-items: center;
  width: 74px;
  height: 7px;
}
.gender10 {
  top: 414px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.birthplace10,
.gender10,
.pe7 {
  position: absolute;
  left: 1024px;
}
.pe7 {
  top: 404px;
  display: flex;
  align-items: center;
  width: 33px;
  height: 7px;
}
.birthplace10 {
  top: 373px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.miejsce-urodzenia7 {
  position: absolute;
  top: 363px;
  left: 1024px;
  display: flex;
  align-items: center;
  width: 98px;
  height: 8px;
}
.imie7,
.name10 {
  position: absolute;
}
.name10 {
  top: 218px;
  left: 1024px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 26px;
}
.imie7 {
  top: 208px;
  left: 1021px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 7px;
}
.nazwisko7,
.surname10 {
  position: absolute;
  left: 1024px;
}
.surname10 {
  top: 261px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.nazwisko7 {
  top: 251px;
  display: flex;
  align-items: center;
  width: 65px;
  height: 10px;
}
.callprefix10,
.phoneno10 {
  position: absolute;
  top: 741px;
  left: 1068px;
  background-color: var(--color-gray-200);
  width: 295px;
  height: 30px;
}
.phoneno10 {
  left: 1024px;
  width: 37px;
}
.citizenship14,
.civilstate10 {
  background-color: var(--color-gray-200);
  width: 339px;
}
.civilstate10 {
  position: absolute;
  top: 816px;
  left: 1024px;
  height: 26px;
}
.citizenship14 {
  top: 858px;
  height: 30px;
}
.birthdate11,
.citizenship14,
.obywatelstwo7 {
  position: absolute;
  left: 1024px;
}
.obywatelstwo7 {
  top: 848px;
  display: flex;
  align-items: center;
  width: 74px;
  height: 10px;
}
.birthdate11 {
  border: 0;
  background-color: var(--color-gray-200);
  top: 333px;
  width: 339px;
  height: 26px;
}
.birthplace11,
.callprefix11,
.cityofregistration11,
.flatno11,
.gender11,
.houseno12,
.name11,
.postcode11,
.street11,
.surname11 {
  border: 0;
  background-color: var(--color-gray-200);
  position: absolute;
  top: 489px;
  left: 1024px;
  width: 339px;
  height: 27px;
}
.birthplace11,
.callprefix11,
.flatno11,
.gender11,
.houseno12,
.name11,
.postcode11,
.street11,
.surname11 {
  top: 660px;
}
.birthplace11,
.callprefix11,
.gender11,
.houseno12,
.name11,
.postcode11,
.street11,
.surname11 {
  top: 617px;
}
.birthplace11,
.callprefix11,
.gender11,
.name11,
.postcode11,
.street11,
.surname11 {
  top: 575px;
  height: 26px;
}
.birthplace11,
.callprefix11,
.gender11,
.name11,
.postcode11,
.surname11 {
  top: 535px;
  height: 27px;
}
.birthplace11,
.callprefix11,
.gender11,
.name11,
.surname11 {
  top: 414px;
}
.birthplace11,
.callprefix11,
.name11,
.surname11 {
  top: 373px;
}
.callprefix11,
.name11,
.surname11 {
  top: 218px;
  height: 26px;
}
.callprefix11,
.surname11 {
  top: 261px;
  height: 27px;
}
.callprefix11 {
  top: 741px;
  left: 1068px;
  width: 295px;
  height: 30px;
}
.numer-telefonu7,
.phoneno11 {
  position: absolute;
  left: 1024px;
}
.phoneno11 {
  border: 0;
  background-color: var(--color-gray-200);
  top: 741px;
  width: 37px;
  height: 30px;
}
.numer-telefonu7 {
  top: 731px;
  display: flex;
  align-items: center;
  width: 98px;
  height: 6px;
}
.civilstate11 {
  border: 0;
  background-color: var(--color-gray-200);
  position: absolute;
  top: 816px;
  left: 1024px;
  width: 339px;
  height: 26px;
}
.stan-cywilny7 {
  position: absolute;
  top: 807px;
  left: 1026px;
  display: flex;
  align-items: center;
  width: 84px;
  height: 6px;
}
.citizenship15 {
  border: 0;
  background-color: var(--color-gray-200);
  position: absolute;
  top: 858px;
  left: 1024px;
  width: 339px;
  height: 30px;
}
.edytujklientowbutton-child10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 55.12px;
}
.edytuj-dane-kllienta14 {
  position: absolute;
  height: 90.63%;
  top: 4.69%;
  left: calc(50% - 127.07px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255.19px;
}
.edytujklientowbutton13,
.pokazwnioskibutton13 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 772.11px;
  left: 116px;
  width: 387px;
  height: 55.12px;
}
.pokazwnioskibutton13 {
  top: 439.59px;
}
.pokazzgloszeniabutton-child2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 66.31px;
}
.poka-zgoszenia-bdw13 {
  position: absolute;
  height: 90.62%;
  top: 4.69%;
  left: calc(50% - 127.07px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255.19px;
}
.dodajklientabutton13,
.pokazwnioskiklientowbutton14,
.pokazzgloszeniabutton4,
.przegladajzgloszeniabutton13,
.zglosbladbutton13 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 586.86px;
  left: 116px;
  width: 387px;
  height: 66.31px;
}
.dodajklientabutton13,
.pokazwnioskiklientowbutton14,
.przegladajzgloszeniabutton13,
.zglosbladbutton13 {
  top: 517.96px;
  height: 55.12px;
}
.dodajklientabutton13,
.pokazwnioskiklientowbutton14,
.przegladajzgloszeniabutton13 {
  top: 922.21px;
}
.dodajklientabutton13,
.przegladajzgloszeniabutton13 {
  top: 842.11px;
  height: 66.31px;
}
.dodajklientabutton13 {
  top: 701px;
  height: 55.12px;
}
.pokazdanebutton13,
.zlozwniosekbutton-child11,
.zlozwniosekbutton13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 53.4px;
}
.pokazdanebutton13,
.zlozwniosekbutton13 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 375px;
  left: 116px;
}
.pokazdanebutton13 {
  top: 299px;
}
.kierownik-edytuj-klienta {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
