body {
  margin: 0;
  line-height: normal;
}
.urzednik-dodaj-klienta-child {
  position: absolute;
  top: 107px;
  left: 690px;
  background-color: var(--color-gray-600);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 631px;
  height: 776px;
}
.obraz-1-icon22 {
  position: absolute;
  top: 77px;
  left: 66px;
  width: 329px;
  height: 160px;
  object-fit: cover;
}
.data-urodzenia11 {
  position: absolute;
  top: 289px;
  left: 714px;
  display: flex;
  align-items: center;
  width: 74px;
  height: 6px;
}
.birthdate16,
.cityofregistration18 {
  border: 0;
  background-color: var(--color-gray-200);
  position: absolute;
  top: 299px;
  left: 714px;
  width: 584px;
  height: 27px;
}
.cityofregistration18 {
  top: 457px;
}
.miejsce-zameldowania12 {
  position: absolute;
  top: 447px;
  left: 714px;
  display: flex;
  align-items: center;
  width: 99px;
  height: 7px;
}
.flatno18 {
  border: 0;
  background-color: var(--color-gray-200);
  position: absolute;
  top: 629px;
  left: 714px;
  width: 584px;
  height: 27px;
}
.numer-mieszkania12 {
  top: 619px;
  display: flex;
  align-items: center;
  width: 81px;
  height: 7px;
}
.houseno21,
.numer-domu12,
.numer-mieszkania12 {
  position: absolute;
  left: 714px;
}
.houseno21 {
  border: 0;
  background-color: var(--color-gray-200);
  top: 586px;
  width: 584px;
  height: 27px;
}
.numer-domu12 {
  top: 576px;
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.street18 {
  border: 0;
  background-color: var(--color-gray-200);
  top: 543px;
  width: 584px;
  height: 27px;
}
.postcode18,
.street18,
.ulica12 {
  position: absolute;
  left: 714px;
}
.ulica12 {
  top: 534px;
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.postcode18 {
  border: 0;
  background-color: var(--color-gray-200);
  top: 503px;
  width: 584px;
  height: 27px;
}
.kod-pocztowy12 {
  position: absolute;
  top: 495px;
  left: 714px;
  display: flex;
  align-items: center;
  width: 69px;
  height: 7px;
}
.gender16 {
  border: 0;
  background-color: var(--color-gray-200);
  top: 381px;
  width: 584px;
  height: 27px;
}
.birthplace18,
.gender16,
.pe11 {
  position: absolute;
  left: 714px;
}
.pe11 {
  top: 371px;
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.birthplace18 {
  border: 0;
  background-color: var(--color-gray-200);
  top: 340px;
  width: 584px;
  height: 27px;
}
.miejsce-urodzenia12 {
  position: absolute;
  top: 330px;
  left: 714px;
  display: flex;
  align-items: center;
  width: 81px;
  height: 7px;
}
.name18 {
  border: 0;
  background-color: var(--color-gray-200);
  position: absolute;
  top: 183px;
  left: 714px;
  width: 584px;
  height: 27px;
}
.imie12,
.podaj-dane-klienta2 {
  display: flex;
  align-items: center;
  height: 7px;
}
.imie12 {
  position: absolute;
  top: 173px;
  left: 695px;
  text-align: center;
  justify-content: center;
  width: 56px;
}
.podaj-dane-klienta2 {
  top: 143px;
  font-size: var(--font-size-sm);
  width: 192px;
}
.nazwisko12,
.podaj-dane-klienta2,
.surname18 {
  position: absolute;
  left: 714px;
}
.surname18 {
  border: 0;
  background-color: var(--color-gray-200);
  top: 227px;
  width: 584px;
  height: 27px;
}
.nazwisko12 {
  top: 217px;
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.callprefix18,
.phoneno18 {
  border: 0;
  background-color: var(--color-gray-200);
  position: absolute;
  top: 711px;
  left: 789px;
  width: 509px;
  height: 30px;
}
.phoneno18 {
  left: 714px;
  width: 63px;
}
.numer-telefonu12 {
  position: absolute;
  top: 698px;
  left: 714px;
  display: flex;
  align-items: center;
  width: 74px;
  height: 6.14px;
}
.civilstate18 {
  border: 0;
  background-color: var(--color-gray-200);
  position: absolute;
  top: 786px;
  left: 714px;
  width: 584px;
  height: 27px;
}
.stan-cywilny12 {
  position: absolute;
  top: 777px;
  left: 714px;
  display: flex;
  align-items: center;
  width: 74px;
  height: 6px;
}
.citizenship22 {
  border: 0;
  background-color: var(--color-gray-200);
  position: absolute;
  top: 829px;
  left: 714px;
  width: 584px;
  height: 30px;
}
.obywatelstwo12 {
  position: absolute;
  top: 819px;
  left: 714px;
  display: flex;
  align-items: center;
  width: 74px;
  height: 6px;
}
.wyslijblad-child5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 242px;
  height: 47px;
}
.dodaj-klienta23 {
  position: absolute;
  height: 90.63%;
  top: 4.69%;
  left: calc(50% - 79.46px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 159.57px;
}
.wyslijblad7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 922px;
  left: 885px;
  width: 242px;
  height: 47px;
}
.edytujklientowbutton-child18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 55.12px;
}
.edytuj-dane-kllienta24 {
  position: absolute;
  height: 90.63%;
  top: 4.69%;
  left: calc(50% - 127.07px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255.19px;
}
.edytujklientowbutton21,
.pokazwnioskibutton21 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 772.11px;
  left: 116px;
  width: 387px;
  height: 55.12px;
}
.pokazwnioskibutton21 {
  top: 439.59px;
}
.pokazzgloszeniabutton-child10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 66.31px;
}
.poka-zgoszenia-bdw21 {
  position: absolute;
  height: 90.62%;
  top: 4.69%;
  left: calc(50% - 127.07px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255.19px;
}
.dodajklientabutton21,
.pokazwnioskiklientowbutton24,
.pokazzgloszeniabutton12,
.przegladajzgloszeniabutton21,
.zglosbladbutton21 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 586.86px;
  left: 116px;
  width: 387px;
  height: 66.31px;
}
.dodajklientabutton21,
.pokazwnioskiklientowbutton24,
.przegladajzgloszeniabutton21,
.zglosbladbutton21 {
  top: 517.96px;
  height: 55.12px;
}
.dodajklientabutton21,
.pokazwnioskiklientowbutton24,
.przegladajzgloszeniabutton21 {
  top: 922.21px;
}
.dodajklientabutton21,
.przegladajzgloszeniabutton21 {
  top: 842.11px;
  height: 66.31px;
}
.dodajklientabutton21 {
  top: 701px;
  height: 55.12px;
}
.pokazdanebutton21,
.zlozwniosekbutton-child19,
.zlozwniosekbutton21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 53.4px;
}
.pokazdanebutton21,
.zlozwniosekbutton21 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 375px;
  left: 116px;
}
.pokazdanebutton21 {
  top: 299px;
}
.urzednik-dodaj-klienta {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
