<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="static/global.css" />
    <link rel="stylesheet" href="static/BurmistrzZglosBlad.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="burmistrz-zglosblad">
      <div class="burmistrz-zglosblad-child"></div>
      <input
        class="dataurodzeniacheck"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="miejsceurodzeniacheck"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="pleccheck"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="miejscezamieszkaniacheck"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="kodpocztowycheck"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="ulicacheck"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="numerdomucheck"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="numermieszkaniacheck"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="numertelefonucheck"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="stancheck"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="dataurodzeniacheck1"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="nazwiskocheck"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="imiecheck"
        type="checkbox"
        defaultchecked="{true}"
      /><input class="peselcheck" type="checkbox" defaultchecked="{true}" /><img
        class="obraz-1-icon4"
        alt=""
        src="/static/obraz-1@2x.png"
      /><button class="wyslijblad">
        <img class="wyslijblad-child" alt="" src="/static/rectangle-721.svg" />
        <div class="zgo-bd3">Zgłoś Błąd</div>
      </button>
      <div class="data-urodzenia">Data Urodzenia</div>
      <div class="birthdate"></div>
      <div class="cityofregistration"></div>
      <div class="miejsce-zameldowania">Miejsce Zameldowania</div>
      <div class="flatno"></div>
      <div class="div">-</div>
      <div class="numer-mieszkania">Numer Mieszkania</div>
      <div class="houseno"></div>
      <div class="div1">4</div>
      <div class="numer-domu">Numer Domu</div>
      <div class="street"></div>
      <div class="ulica">Ulica</div>
      <div class="postcode"></div>
      <div class="kod-pocztowy">Kod Pocztowy</div>
      <div class="gender"></div>
      <div class="pe">Płeć</div>
      <div class="birthplace"></div>
      <div class="miejsce-urodzenia">Miejsce Urodzenia</div>
      <div class="name"></div>
      <div class="imie">Imie</div>
      <div class="pesel"></div>
      <div class="pesel1">PESEL</div>
      <div class="surname"></div>
      <div class="nazwisko">Nazwisko</div>
      <div class="callprefix"></div>
      <div class="phoneno"></div>
      <div class="numer-telefonu">Numer Telefonu</div>
      <div class="civilstate"></div>
      <div class="stan-cywilny">Stan Cywilny</div>
      <div class="citizenship"></div>
      <div class="obywatelstwo">Obywatelstwo</div>
      <div class="div2">98122926289</div>
      <div class="anna">Anna</div>
      <div class="majkalska">Majkalska</div>
      <div class="div3">1998-12-29</div>
      <div class="rzeszw">Rzeszów</div>
      <div class="kobieta">Kobieta</div>
      <div class="katowice">Katowice</div>
      <div class="div4">40-750</div>
      <div class="jana-matejki">Jana Matejki</div>
      <div class="div5">458548758</div>
      <div class="div6">+48</div>
      <div class="onatyzamna">Żonaty/Zamężna</div>
      <div class="polskie">POLSKIE</div>
      <div class="citizenship1"></div>
      <div class="podaj-poprawn-warto">Podaj poprawną wartość</div>
      <div class="wybierz-bdn-warto">Wybierz błędną wartość</div>
      <input class="input" type="text" />
      <div class="citizenship2"></div>
      <div class="podaj-opis-bdu">Podaj opis błędu</div>
      <textarea class="fxnkdfjn-bjvnkjbvakjs-xdbshd-f">
554566fxnkdfjn bjvnkjbvakjs xdbshd fchds csD CHSDC DHCCDDC KDC SDCJH DSLL   dchkDSCJ kjd dfniofgnqeoirnfiernceirfcmrjf caskdncadu ncidnc</textarea
      ><button class="edytujklientowbutton3" id="edytujKlientowButton">
        <img class="rectangle-icon" alt="" src="/static/rectangle-7.svg" />
        <div class="edytuj-dane-kllienta3">Edytuj Dane Kllienta</div></button
      ><button class="pokazwnioskibutton3" id="pokazWnioskiButton">
        <img class="rectangle-icon" alt="" src="/static/rectangle-71.svg" />
        <div class="edytuj-dane-kllienta3">Pokaż Wnioski</div></button
      ><button class="pokazzgloszenia3" id="pokazZgloszenia">
        <img
          class="pokazzgloszenia-child1"
          alt=""
          src="/static/rectangle-72.svg"
        />
        <div class="poka-zgoszenia-bdw3">Pokaż Zgłoszenia Błędów</div></button
      ><button class="zglosbladbutton3" id="zglosBladButton">
        <img class="rectangle-icon" alt="" src="/static/rectangle-73.svg" />
        <div class="edytuj-dane-kllienta3">Zgłoś Błąd</div></button
      ><button
        class="pokazwnioskiklientowbutton3"
        id="pokazWnioskiKlientowButton"
      >
        <img class="rectangle-icon" alt="" src="/static/rectangle-74.svg" />
        <div class="edytuj-dane-kllienta3">Przeglądaj Wnioski</div></button
      ><button
        class="przegladajzgloszeniabutton3"
        id="przegladajZgloszeniaButton"
      >
        <img
          class="pokazzgloszenia-child1"
          alt=""
          src="/static/rectangle-75.svg"
        />
        <div class="poka-zgoszenia-bdw3">
          Przeglądaj Zgłoszenia Błędów
        </div></button
      ><button class="dodajklientabutton3" id="dodajKlientaButton">
        <img class="rectangle-icon" alt="" src="/static/rectangle-76.svg" />
        <div class="edytuj-dane-kllienta3">Dodaj Klienta</div></button
      ><button class="zlozwniosekbutton3" id="zlozWniosekButton">
        <img
          class="zlozwniosekbutton-child1"
          alt=""
          src="/static/rectangle-6.svg"
        />
        <div class="edytuj-dane-kllienta3">Złóż Wniosek</div></button
      ><button class="pokazdanebutton3" id="pokazDaneButton">
        <img
          class="zlozwniosekbutton-child1"
          alt=""
          src="/static/rectangle-6.svg"
        />
        <div class="edytuj-dane-kllienta3">Pokaż Dane</div>
      </button>
    </div>

    <script>
      var edytujKlientowButton = document.getElementById("edytujKlientowButton");
      if (edytujKlientowButton) {
        edytujKlientowButton.addEventListener("click", function (e) {
          window.location.href = "./EdytujPopUPBurmistrz.html";
        });
      }
      
      var pokazWnioskiButton = document.getElementById("pokazWnioskiButton");
      if (pokazWnioskiButton) {
        pokazWnioskiButton.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzPokazWnioski.html";
        });
      }
      
      var pokazZgloszenia = document.getElementById("pokazZgloszenia");
      if (pokazZgloszenia) {
        pokazZgloszenia.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzPokazBledy.html";
        });
      }
      
      var zglosBladButton = document.getElementById("zglosBladButton");
      if (zglosBladButton) {
        zglosBladButton.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzZglosBlad.html";
        });
      }
      
      var pokazWnioskiKlientowButton = document.getElementById(
        "pokazWnioskiKlientowButton"
      );
      if (pokazWnioskiKlientowButton) {
        pokazWnioskiKlientowButton.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzPrzegladajWnioskiKlientow.html";
        });
      }
      
      var przegladajZgloszeniaButton = document.getElementById(
        "przegladajZgloszeniaButton"
      );
      if (przegladajZgloszeniaButton) {
        przegladajZgloszeniaButton.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzPrzegladajZgloszeniaKlientow.html";
        });
      }
      
      var dodajKlientaButton = document.getElementById("dodajKlientaButton");
      if (dodajKlientaButton) {
        dodajKlientaButton.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzDodajKlienta.html";
        });
      }
      
      var zlozWniosekButton = document.getElementById("zlozWniosekButton");
      if (zlozWniosekButton) {
        zlozWniosekButton.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzZlozWniosek.html";
        });
      }
      
      var pokazDaneButton = document.getElementById("pokazDaneButton");
      if (pokazDaneButton) {
        pokazDaneButton.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzPokazDane.html";
        });
      }
      </script>
  </body>
</html>
