<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./BurmistrzPokazWnioski.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="burmistrz-pokazwnioski">
      <img class="obraz-1-icon2" alt="" src="static/obraz-1@2x.png" />
      <div class="burmistrz-pokazwnioski-child"></div>
      <b class="applicationid">ApplicationID</b>
      <div class="data-rozpatrzenia1">Data Rozpatrzenia</div>
      <div class="data-aplikacji1">Data Aplikacji</div>
      <div class="data-weryfikacji">Data Weryfikacji</div>
      <b class="dateofconsideration1">DateOfConsideration</b
      ><b class="dateofapplication1">DateOfApplication</b
      ><b class="dateofveryfication">DateOfVeryfication</b>
      <div class="typ-dokumentu">Typ Dokumentu</div>
      <b class="type">Type</b>
      <div class="status1">Status</div>
      <b class="statusakt1">Statusakt</b>
      <div class="burmistrz-pokazwnioski-item"></div>
      <button class="edytujklientowbutton1" id="edytujKlientowButton">
        <img
          class="edytujklientowbutton-item"
          alt=""
          src="static/rectangle-7.svg"
        />
        <div class="edytuj-dane-kllienta1">Edytuj Dane Kllienta</div></button
      ><button class="pokazwnioskibutton1" id="pokazWnioskiButton">
        <img
          class="edytujklientowbutton-item"
          alt=""
          src="static/rectangle-71.svg"
        />
        <div class="edytuj-dane-kllienta1">Pokaż Wnioski</div></button
      ><button class="pokazzgloszenia1" id="pokazZgloszenia">
        <img
          class="pokazzgloszenia-item"
          alt=""
          src="static/rectangle-72.svg"
        />
        <div class="poka-zgoszenia-bdw1">Pokaż Zgłoszenia Błędów</div></button
      ><button class="zglosbladbutton1" id="zglosBladButton">
        <img
          class="edytujklientowbutton-item"
          alt=""
          src="static/rectangle-73.svg"
        />
        <div class="edytuj-dane-kllienta1">Zgłoś Błąd</div></button
      ><button
        class="pokazwnioskiklientowbutton1"
        id="pokazWnioskiKlientowButton"
      >
        <img
          class="edytujklientowbutton-item"
          alt=""
          src="static/rectangle-74.svg"
        />
        <div class="edytuj-dane-kllienta1">Przeglądaj Wnioski</div></button
      ><button
        class="przegladajzgloszeniabutton1"
        id="przegladajZgloszeniaButton"
      >
        <img
          class="pokazzgloszenia-item"
          alt=""
          src="static/rectangle-75.svg"
        />
        <div class="poka-zgoszenia-bdw1">
          Przeglądaj Zgłoszenia Błędów
        </div></button
      ><button class="dodajklientabutton1" id="dodajKlientaButton">
        <img
          class="edytujklientowbutton-item"
          alt=""
          src="static/rectangle-76.svg"
        />
        <div class="edytuj-dane-kllienta1">Dodaj Klienta</div></button
      ><button class="zlozwniosekbutton1" id="zlozWniosekButton">
        <img
          class="zlozwniosekbutton-item"
          alt=""
          src="static/rectangle-6.svg"
        />
        <div class="edytuj-dane-kllienta1">Złóż Wniosek</div></button
      ><button class="pokazdanebutton1" id="pokazDaneButton">
        <img
          class="zlozwniosekbutton-item"
          alt=""
          src="static/rectangle-6.svg"
        />
        <div class="edytuj-dane-kllienta1">Pokaż Dane</div>
      </button>
    </div>

    <script>
      var edytujKlientowButton = document.getElementById("edytujKlientowButton");
      if (edytujKlientowButton) {
        edytujKlientowButton.addEventListener("click", function (e) {
          window.location.href = "./EdytujPopUPBurmistrz.html";
        });
      }
      
      var pokazWnioskiButton = document.getElementById("pokazWnioskiButton");
      if (pokazWnioskiButton) {
        pokazWnioskiButton.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzPokazWnioski.html";
        });
      }
      
      var pokazZgloszenia = document.getElementById("pokazZgloszenia");
      if (pokazZgloszenia) {
        pokazZgloszenia.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzPokazBledy.html";
        });
      }
      
      var zglosBladButton = document.getElementById("zglosBladButton");
      if (zglosBladButton) {
        zglosBladButton.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzZglosBlad.html";
        });
      }
      
      var pokazWnioskiKlientowButton = document.getElementById(
        "pokazWnioskiKlientowButton"
      );
      if (pokazWnioskiKlientowButton) {
        pokazWnioskiKlientowButton.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzPrzegladajWnioskiKlientow.html";
        });
      }
      
      var przegladajZgloszeniaButton = document.getElementById(
        "przegladajZgloszeniaButton"
      );
      if (przegladajZgloszeniaButton) {
        przegladajZgloszeniaButton.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzPrzegladajZgloszeniaKlientow.html";
        });
      }
      
      var dodajKlientaButton = document.getElementById("dodajKlientaButton");
      if (dodajKlientaButton) {
        dodajKlientaButton.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzDodajKlienta.html";
        });
      }
      
      var zlozWniosekButton = document.getElementById("zlozWniosekButton");
      if (zlozWniosekButton) {
        zlozWniosekButton.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzZlozWniosek.html";
        });
      }
      
      var pokazDaneButton = document.getElementById("pokazDaneButton");
      if (pokazDaneButton) {
        pokazDaneButton.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzPokazDane.html";
        });
      }
      </script>
  </body>
</html>
