<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="static/global.css" />
    <link rel="stylesheet" href="static/BurmistrzZlozWniosek.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="burmistrz-zlozwniosek">
      <div class="burmistrz-zlozwniosek-child"></div>
      <img class="obraz-1-icon3" alt="" src="/static/obraz-1@2x.png" /><input
        class="typ-dokumentu1"
        type="text"
      />
      <div class="typ-dokumentu2">Podaj typ dokumentu</div>
      <button class="vector-parent">
        <img class="group-item" alt="" src="/static/rectangle-5.svg" />
        <div class="wylij-wniosek">Wyślij Wniosek</div></button
      ><button class="edytujklientowbutton2" id="edytujKlientowButton">
        <img
          class="edytujklientowbutton-inner"
          alt=""
          src="/static/rectangle-7.svg"
        />
        <div class="edytuj-dane-kllienta2">Edytuj Dane Kllienta</div></button
      ><button class="pokazwnioskibutton2" id="pokazWnioskiButton">
        <img
          class="edytujklientowbutton-inner"
          alt=""
          src="/static/rectangle-71.svg"
        />
        <div class="edytuj-dane-kllienta2">Pokaż Wnioski</div></button
      ><button class="pokazzgloszenia2" id="pokazZgloszenia">
        <img
          class="pokazzgloszenia-inner"
          alt=""
          src="/static/rectangle-72.svg"
        />
        <div class="poka-zgoszenia-bdw2">Pokaż Zgłoszenia Błędów</div></button
      ><button class="zglosbladbutton2" id="zglosBladButton">
        <img
          class="edytujklientowbutton-inner"
          alt=""
          src="/static/rectangle-73.svg"
        />
        <div class="edytuj-dane-kllienta2">Zgłoś Błąd</div></button
      ><button
        class="pokazwnioskiklientowbutton2"
        id="pokazWnioskiKlientowButton"
      >
        <img
          class="edytujklientowbutton-inner"
          alt=""
          src="/static/rectangle-74.svg"
        />
        <div class="edytuj-dane-kllienta2">Przeglądaj Wnioski</div></button
      ><button
        class="przegladajzgloszeniabutton2"
        id="przegladajZgloszeniaButton"
      >
        <img
          class="pokazzgloszenia-inner"
          alt=""
          src="/static/rectangle-75.svg"
        />
        <div class="poka-zgoszenia-bdw2">
          Przeglądaj Zgłoszenia Błędów
        </div></button
      ><button class="dodajklientabutton2" id="dodajKlientaButton">
        <img
          class="edytujklientowbutton-inner"
          alt=""
          src="/static/rectangle-76.svg"
        />
        <div class="edytuj-dane-kllienta2">Dodaj Klienta</div></button
      ><button class="zlozwniosekbutton2" id="zlozWniosekButton">
        <img
          class="zlozwniosekbutton-inner"
          alt=""
          src="/static/rectangle-6.svg"
        />
        <div class="edytuj-dane-kllienta2">Złóż Wniosek</div></button
      ><button class="pokazdanebutton2" id="pokazDaneButton">
        <img
          class="zlozwniosekbutton-inner"
          alt=""
          src="/static/rectangle-6.svg"
        />
        <div class="edytuj-dane-kllienta2">Pokaż Dane</div>
      </button>
    </div>

    <script>
      var edytujKlientowButton = document.getElementById("edytujKlientowButton");
      if (edytujKlientowButton) {
        edytujKlientowButton.addEventListener("click", function (e) {
          window.location.href = "./EdytujPopUPBurmistrz.html";
        });
      }
      
      var pokazWnioskiButton = document.getElementById("pokazWnioskiButton");
      if (pokazWnioskiButton) {
        pokazWnioskiButton.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzPokazWnioski.html";
        });
      }
      
      var pokazZgloszenia = document.getElementById("pokazZgloszenia");
      if (pokazZgloszenia) {
        pokazZgloszenia.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzPokazBledy.html";
        });
      }
      
      var zglosBladButton = document.getElementById("zglosBladButton");
      if (zglosBladButton) {
        zglosBladButton.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzZglosBlad.html";
        });
      }
      
      var pokazWnioskiKlientowButton = document.getElementById(
        "pokazWnioskiKlientowButton"
      );
      if (pokazWnioskiKlientowButton) {
        pokazWnioskiKlientowButton.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzPrzegladajWnioskiKlientow.html";
        });
      }
      
      var przegladajZgloszeniaButton = document.getElementById(
        "przegladajZgloszeniaButton"
      );
      if (przegladajZgloszeniaButton) {
        przegladajZgloszeniaButton.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzPrzegladajZgloszeniaKlientow.html";
        });
      }
      
      var dodajKlientaButton = document.getElementById("dodajKlientaButton");
      if (dodajKlientaButton) {
        dodajKlientaButton.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzDodajKlienta.html";
        });
      }
      
      var zlozWniosekButton = document.getElementById("zlozWniosekButton");
      if (zlozWniosekButton) {
        zlozWniosekButton.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzZlozWniosek.html";
        });
      }
      
      var pokazDaneButton = document.getElementById("pokazDaneButton");
      if (pokazDaneButton) {
        pokazDaneButton.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzPokazDane.html";
        });
      }
      </script>
  </body>
</html>
