<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="static/global.css" />
    <link rel="stylesheet" href="static/EdytujPopUPBurmistrz.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="edytuj-pop-up-burmistrz">
      <input class="houseno7" type="text" />
      <div class="podaj-pesel-klienta">Podaj PESEL Klienta</div>
      <button
        class="pokazwnioskiklientowbutton9"
        id="pokazWnioskiKlientowButton"
      >
        <img
          class="pokazwnioskiklientowbutton-child7"
          alt=""
          src="/static/rectangle-771.svg"
        />
        <div class="edytuj-dane-kllienta9">Edytuj Dane Kllienta</div>
      </button>
    </div>

    <script>
      var pokazWnioskiKlientowButton = document.getElementById(
        "pokazWnioskiKlientowButton"
      );
      if (pokazWnioskiKlientowButton) {
        pokazWnioskiKlientowButton.addEventListener("click", function (e) {
          window.location.href = "./BurmistrzEdytujKlienta.html";
        });
      }
      </script>
  </body>
</html>
