<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="static/global.css" />
    <link rel="stylesheet" href="static/KierownikPokazWnioski.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
        <img alt="Logo" src="/static/obraz-1@2x.png" style="height:100px;" />

<div style="position: relative; top: 50px; left: 100px; color: red; font-size: 18px;"><b>Coś poszło nie tak. Spróbuj odświeżyć strone lub zaloguj się
    ponownie. W razie dalszych problemów skontaktuj się z Urzędem.</b></div>
  <div style="position: relative; top: 70px; left: 100px; font-size: 14px;">Error: {{ error }}</div>
  </body>
</html>
