:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-3xs: 9px;
  --font-size-2xs: 15px;
  --font-size-xs: 16px;
  --font-size-sm: 20px;
  --font-size-base: 24px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #fffdfd;
  --color-gray-200: #d9d9d9;
  --color-gray-300: #0a0909;
  --color-gray-400: rgba(217, 217, 217, 0.09);
  --color-gray-500: rgba(217, 217, 217, 0.04);
  --color-gray-600: rgba(217, 217, 217, 0.12);

  /* border radiuses */
  --br-md: 2px;
}
