body {
  margin: 0;
  line-height: normal;
}
.obraz-1-icon16 {
  position: absolute;
  top: 77px;
  left: 66px;
  width: 329px;
  height: 160px;
  object-fit: cover;
}
.akceptujbutton-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 305px;
  height: 50px;
}
.akceptuj1 {
  position: absolute;
  height: 78.85%;
  top: 11.54%;
  left: calc(50% - 143.08px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 283.58px;
}
.akceptujbutton1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 956px;
  left: 657px;
  width: 305px;
  height: 50px;
}
.odrzucbutton-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 327px;
  height: 50px;
}
.odrzu2 {
  position: absolute;
  height: 82.4%;
  top: 12%;
  left: calc(50% - 114.86px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 229.77px;
}
.odrzucbutton2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 956px;
  left: 1007px;
  width: 327px;
  height: 50px;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 683px;
  height: 372px;
}
.correctionid3 {
  position: absolute;
  top: 5px;
  left: 11px;
  display: flex;
  align-items: center;
  width: 177px;
  height: 26px;
}
.data-aplikacji6,
.data-rozpatrzenia6,
.dateofapplication6,
.dateofconsideration6 {
  position: absolute;
  top: 343px;
  left: 13px;
  display: flex;
  align-items: center;
  width: 208px;
  height: 29px;
}
.data-aplikacji6,
.dateofapplication6,
.dateofconsideration6 {
  top: 313px;
  width: 154px;
}
.dateofapplication6,
.dateofconsideration6 {
  top: 342px;
  left: 407px;
  width: 265px;
}
.dateofapplication6 {
  top: 312px;
  width: 257px;
}
.bdna-warto3,
.nazwa-pola3,
.pole13,
.pole14,
.pole15,
.poprawna-warto3 {
  position: absolute;
  top: 70px;
  left: 11px;
  display: flex;
  align-items: center;
  width: 145px;
  height: 29px;
}
.bdna-warto3,
.pole13,
.pole14,
.pole15,
.poprawna-warto3 {
  left: 406px;
  width: 258px;
  height: 35px;
}
.bdna-warto3,
.pole14,
.pole15,
.poprawna-warto3 {
  top: 140px;
  left: 11px;
  width: 177px;
  height: 29px;
}
.pole14,
.pole15,
.poprawna-warto3 {
  left: 406px;
  width: 258px;
}
.pole15,
.poprawna-warto3 {
  top: 174px;
  left: 11px;
  width: 212px;
}
.pole15 {
  left: 406px;
  width: 258px;
}
.informacja-o-bdzie3 {
  top: 213px;
  left: 13px;
  width: 229px;
  height: 29px;
}
.informacja-o-bdzie3,
.pole16,
.status6,
.statusakt6 {
  position: absolute;
  display: flex;
  align-items: center;
}
.pole16 {
  top: 242px;
  left: 13px;
  font-size: var(--font-size-xs);
  width: 651px;
  height: 59px;
}
.status6,
.statusakt6 {
  top: 105px;
  left: 11px;
  width: 73px;
  height: 29px;
}
.statusakt6 {
  left: 406px;
  width: 258px;
}
.pesel14,
.pole17 {
  position: absolute;
  top: 39px;
}
.pole17 {
  left: 407px;
  display: flex;
  align-items: center;
  width: 258px;
  height: 29px;
}
.pesel14 {
  left: 11px;
  display: inline-block;
}
.wniosekpokaz3 {
  position: absolute;
  top: 108px;
  left: 651px;
  width: 683px;
  height: 372px;
}
.kierownik-przegladajzgloszenia-child {
  position: absolute;
  top: 74px;
  left: 622px;
  background-color: var(--color-gray-400);
  border: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 734px;
  height: 859px;
}
.edytujklientowbutton-child12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 55.12px;
}
.edytuj-dane-kllienta16 {
  position: absolute;
  height: 90.63%;
  top: 4.69%;
  left: calc(50% - 127.07px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255.19px;
}
.edytujklientowbutton15,
.pokazwnioskibutton15 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 772.11px;
  left: 116px;
  width: 387px;
  height: 55.12px;
}
.pokazwnioskibutton15 {
  top: 439.59px;
}
.pokazzgloszeniabutton-child4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 66.31px;
}
.poka-zgoszenia-bdw15 {
  position: absolute;
  height: 90.62%;
  top: 4.69%;
  left: calc(50% - 127.07px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255.19px;
}
.dodajklientabutton15,
.pokazwnioskiklientowbutton16,
.pokazzgloszeniabutton6,
.przegladajzgloszeniabutton15,
.zglosbladbutton15 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 586.86px;
  left: 116px;
  width: 387px;
  height: 66.31px;
}
.dodajklientabutton15,
.pokazwnioskiklientowbutton16,
.przegladajzgloszeniabutton15,
.zglosbladbutton15 {
  top: 517.96px;
  height: 55.12px;
}
.dodajklientabutton15,
.pokazwnioskiklientowbutton16,
.przegladajzgloszeniabutton15 {
  top: 922.21px;
}
.dodajklientabutton15,
.przegladajzgloszeniabutton15 {
  top: 842.11px;
  height: 66.31px;
}
.dodajklientabutton15 {
  top: 701px;
  height: 55.12px;
}
.pokazdanebutton15,
.zlozwniosekbutton-child13,
.zlozwniosekbutton15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 53.4px;
}
.pokazdanebutton15,
.zlozwniosekbutton15 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 375px;
  left: 116px;
}
.pokazdanebutton15 {
  top: 299px;
}
.kierownik-przegladajzgloszenia {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
