<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./KierownikDodajKlienta.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="kierownik-dodaj-klienta">
      <div class="kierownik-dodaj-klienta-child"></div>
      <img class="obraz-1-icon15" alt="" src="static/obraz-1@2x.png" />
      <div class="data-urodzenia8">Data Urodzenia</div>
      <input class="birthdate12" type="text" /><input
        class="cityofregistration12"
        type="text"
      />
      <div class="miejsce-zameldowania8">Miejsce Zameldowania</div>
      <input class="flatno12" type="text" />
      <div class="numer-mieszkania8">Numer Mieszkania</div>
      <input class="houseno13" type="text" />
      <div class="numer-domu8">Numer Domu</div>
      <input class="street12" type="text" />
      <div class="ulica8">Ulica</div>
      <input class="postcode12" type="text" />
      <div class="kod-pocztowy8">Kod Pocztowy</div>
      <input class="gender12" type="text" />
      <div class="pe8">Płeć</div>
      <input class="birthplace12" type="text" />
      <div class="miejsce-urodzenia8">Miejsce Urodzenia</div>
      <input class="name12" type="text" />
      <div class="imie8">Imie</div>
      <div class="podaj-dane-klienta1">Podaj Dane Klienta</div>
      <input class="surname12" type="text" />
      <div class="nazwisko8">Nazwisko</div>
      <input class="callprefix12" type="text" /><input
        class="phoneno12"
        type="text"
      />
      <div class="numer-telefonu8">Numer Telefonu</div>
      <input class="civilstate12" type="text" />
      <div class="stan-cywilny8">Stan Cywilny</div>
      <input class="citizenship16" type="text" />
      <div class="obywatelstwo8">Obywatelstwo</div>
      <button class="wyslijblad5">
        <img class="wyslijblad-child3" alt="" src="static/rectangle-721.svg" />
        <div class="dodaj-klienta15">Dodaj Klienta</div></button
      ><button class="edytujklientowbutton14" id="edytujKlientowButton">
        <img
          class="edytujklientowbutton-child11"
          alt=""
          src="static/rectangle-772.svg"
        />
        <div class="edytuj-dane-kllienta15">Edytuj Dane Kllienta</div></button
      ><button class="pokazwnioskibutton14" id="pokazWnioskiButton">
        <img
          class="edytujklientowbutton-child11"
          alt=""
          src="static/rectangle-71.svg"
        />
        <div class="edytuj-dane-kllienta15">Pokaż Wnioski</div></button
      ><button class="pokazzgloszeniabutton5" id="pokazZgloszeniaButton">
        <img
          class="pokazzgloszeniabutton-child3"
          alt=""
          src="static/rectangle-72.svg"
        />
        <div class="poka-zgoszenia-bdw14">Pokaż Zgłoszenia Błędów</div></button
      ><button class="zglosbladbutton14" id="zglosBladButton">
        <img
          class="edytujklientowbutton-child11"
          alt=""
          src="static/rectangle-73.svg"
        />
        <div class="edytuj-dane-kllienta15">Zgłoś Błąd</div></button
      ><button
        class="pokazwnioskiklientowbutton15"
        id="pokazWnioskiKlientowButton"
      >
        <img
          class="edytujklientowbutton-child11"
          alt=""
          src="static/rectangle-776.svg"
        />
        <div class="edytuj-dane-kllienta15">Przeglądaj Wnioski</div></button
      ><button
        class="przegladajzgloszeniabutton14"
        id="przegladajZgloszeniaButton"
      >
        <img
          class="pokazzgloszeniabutton-child3"
          alt=""
          src="static/rectangle-777.svg"
        />
        <div class="poka-zgoszenia-bdw14">
          Przeglądaj Zgłoszenia Błędów
        </div></button
      ><button class="dodajklientabutton14" id="dodajKlientaButton">
        <img
          class="edytujklientowbutton-child11"
          alt=""
          src="static/rectangle-771.svg"
        />
        <div class="edytuj-dane-kllienta15">Dodaj Klienta</div></button
      ><button class="zlozwniosekbutton14" id="zlozWniosekButton">
        <img
          class="zlozwniosekbutton-child12"
          alt=""
          src="static/rectangle-6.svg"
        />
        <div class="edytuj-dane-kllienta15">Złóż Wniosek</div></button
      ><button class="pokazdanebutton14" id="pokazDaneButton">
        <img
          class="zlozwniosekbutton-child12"
          alt=""
          src="static/rectangle-6.svg"
        />
        <div class="edytuj-dane-kllienta15">Pokaż Dane</div>
      </button>
    </div>

    <script>
      var edytujKlientowButton = document.getElementById("edytujKlientowButton");
      if (edytujKlientowButton) {
        edytujKlientowButton.addEventListener("click", function (e) {
          window.location.href = "./EdytujPopUPKierownik.html";
        });
      }
      
      var pokazWnioskiButton = document.getElementById("pokazWnioskiButton");
      if (pokazWnioskiButton) {
        pokazWnioskiButton.addEventListener("click", function (e) {
          window.location.href = "./KierownikPokazWnioski.html";
        });
      }
      
      var pokazZgloszeniaButton = document.getElementById("pokazZgloszeniaButton");
      if (pokazZgloszeniaButton) {
        pokazZgloszeniaButton.addEventListener("click", function (e) {
          window.location.href = "./KierownikPokazBledy.html";
        });
      }
      
      var zglosBladButton = document.getElementById("zglosBladButton");
      if (zglosBladButton) {
        zglosBladButton.addEventListener("click", function (e) {
          window.location.href = "./KierownikZglosBlad.html";
        });
      }
      
      var pokazWnioskiKlientowButton = document.getElementById(
        "pokazWnioskiKlientowButton"
      );
      if (pokazWnioskiKlientowButton) {
        pokazWnioskiKlientowButton.addEventListener("click", function (e) {
          window.location.href = "./KierownikPrzegladajWnioskiKlientow.html";
        });
      }
      
      var przegladajZgloszeniaButton = document.getElementById(
        "przegladajZgloszeniaButton"
      );
      if (przegladajZgloszeniaButton) {
        przegladajZgloszeniaButton.addEventListener("click", function (e) {
          window.location.href = "./KierownikPrzegladajZgloszeniaKlientow.html";
        });
      }
      
      var dodajKlientaButton = document.getElementById("dodajKlientaButton");
      if (dodajKlientaButton) {
        dodajKlientaButton.addEventListener("click", function (e) {
          window.location.href = "./KierownikDodajKlienta.html";
        });
      }
      
      var zlozWniosekButton = document.getElementById("zlozWniosekButton");
      if (zlozWniosekButton) {
        zlozWniosekButton.addEventListener("click", function (e) {
          window.location.href = "./KierownikZlozWniosek.html";
        });
      }
      
      var pokazDaneButton = document.getElementById("pokazDaneButton");
      if (pokazDaneButton) {
        pokazDaneButton.addEventListener("click", function (e) {
          window.location.href = "./KierownikPokazDane.html";
        });
      }
      </script>
  </body>
</html>
