<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="static/global.css" />
    <link rel="stylesheet" href="static/UrzednikPokazDane.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="urzednik-pokazdane">
      <div class="urzednik-pokazdane-child"></div>
      <img class="obraz-1-icon27" alt="" src="/static/obraz-1@2x.png" />
      <div class="data-urodzenia13">Data Urodzenia (YYYY-MM-DD)</div>
      <div class="birthdate18"></div>
      <div class="cityofregistration20"></div>
      <div class="miejsce-zameldowania14">Miejsce Zameldowania</div>
      <div class="flatno20"></div>
      <div class="numer-mieszkania14">Numer Mieszkania</div>
      <div class="houseno23"></div>
      <div class="numer-domu14">Numer Domu</div>
      <div class="street20"></div>
      <div class="ulica14">Ulica</div>
      <div class="postcode20"></div>
      <div class="kod-pocztowy14">Kod Pocztowy</div>
      <div class="gender18"></div>
      <div class="pe13">Płeć</div>
      <div class="birthplace20"></div>
      <div class="miejsce-urodzenia14">Miejsce Urodzenia</div>
      <div class="name20"></div>
      <div class="imie14">Imie</div>
      <div class="pesel25"></div>
      <div class="pesel26">PESEL</div>
      <div class="surname20"></div>
      <div class="nazwisko14">Nazwisko</div>
      <div class="callprefix20"></div>
      <div class="phoneno20"></div>
      <div class="numer-telefonu14">Numer Telefonu</div>
      <div class="civilstate20"></div>
      <div class="stan-cywilny14">Stan Cywilny</div>
      <div class="citizenship26"></div>
      <div class="obywatelstwo14">Obywatelstwo</div>
      <b class="b49">{{ data.pesel }}</b><b class="anna8">{{ data.name }}</b
      ><b class="majkalska8">{{ data.surname }}</b><b class="b50">{{ data.birthday }}</b
      ><b class="rzeszw8">{{ data.birthcity}}</b><b class="kobieta8">{{ data.gender }}</b
      ><b class="katowice8">{{ data.registrationcity }}</b><b class="b51">{{ data.postalcode }}</b
      ><b class="jana-matejki8">{{ data.street}}</b><b class="b52">{{ data.phoneNo }}</b
      ><b class="b53">{{ data.phoneprefix }}</b><b class="onatyzamna8">{{data.civilstatus}}</b
      ><b class="polskie8">{{ data.citizenship }}</b>
      <b class="b48">{{ data.No }}</b>
        <b class="b47">{{ data.flatNo }}</b>
        <form class="form-group1" action="{{ url_for('show_emp_personal_data') }}" method="post">

        <button class="edytujklientowbutton26" id="edytujKlientowButton" name="edytujdaneklienta">
        <img
          class="edytujklientowbutton-child23"
          alt=""
          src="/static/rectangle-772.svg"
        />
        <div class="edytuj-dane-kllienta29">Edytuj Dane Klienta</div>
        </button>

            <button class="pokazwnioskibutton26" id="pokazWnioskiButton" name="pokazwnioski" formmethod="post">
        <img
          class="edytujklientowbutton-child23"
          alt=""
          src="/static/rectangle-71.svg"
        />
        <div class="edytuj-dane-kllienta29">Pokaż Wnioski</div></button
      ><button class="pokazzgloszeniabutton17" id="pokazZgloszeniaButton" name="pokazzgloszeniabledow">
        <img
          class="pokazzgloszeniabutton-child15"
          alt=""
          src="/static/rectangle-7147.svg"
        />
        <div class="poka-zgoszenia-bdw26">Pokaż Zgłoszenia Błędów</div></button
      ><button class="zglosbladbutton26" id="zglosBladButton" name="zglosblad">
        <img
          class="edytujklientowbutton-child23"
          alt=""
          src="/static/rectangle-7148.svg"
        />
        <div class="edytuj-dane-kllienta29">Zgłoś Błąd</div></button
      ><button
        class="pokazwnioskiklientowbutton29"
        id="pokazWnioskiKlientowButton"
        name="przegladajwnioski"
      >
        <img
          class="edytujklientowbutton-child23"
          alt=""
          src="/static/rectangle-7149.svg"
        />
        <div class="edytuj-dane-kllienta29">Przeglądaj Wnioski</div></button
      ><button
        class="przegladajzgloszeniabutton26"
        id="przegladajZgloszeniaButton"
        name="przegladajzgloszeniabledow"
      >
        <img
          class="pokazzgloszeniabutton-child15"
          alt=""
          src="/static/rectangle-777.svg"
        />
        <div class="poka-zgoszenia-bdw26">
          Przeglądaj Zgłoszenia Błędów
        </div></button
      ><button class="dodajklientabutton26" id="dodajKlientaButton" name="dodajklienta">
        <img
          class="edytujklientowbutton-child23"
          alt=""
          src="/static/rectangle-771.svg"
        />
        <div class="edytuj-dane-kllienta29">Dodaj Klienta</div></button
      ><button class="zlozwniosekbutton26" id="zlozWniosekButton" name="zlozwniosek">
        <img
          class="zlozwniosekbutton-child24"
          alt=""
          src="/static/rectangle-6.svg"
        />
        <div class="edytuj-dane-kllienta29">Złóż Wniosek</div></button
      ><button class="pokazdanebutton26" id="pokazDaneButton" name="pokazdane">
        <img
          class="zlozwniosekbutton-child24"
          alt=""
          src="/static/rectangle-6.svg"
        />
        <div class="edytuj-dane-kllienta29">Pokaż Dane</div>
      </button>
    </form>
    </div>

{#    <script>#}
{#      var edytujKlientowButton = document.getElementById("edytujKlientowButton");#}
{#      if (edytujKlientowButton) {#}
{#        edytujKlientowButton.addEventListener("click", function (e) {#}
{#          window.location.href = "./EdytujPopUPUrzednik.html";#}
{#        });#}
{#      }#}
{#      #}
{#      var pokazWnioskiButton = document.getElementById("pokazWnioskiButton");#}
{#      if (pokazWnioskiButton) {#}
{#        pokazWnioskiButton.addEventListener("click", function (e) {#}
{#          window.location.href = "./UrzednikPokazWnioski.html";#}
{#        });#}
{#      }#}
{#      #}
{#      var pokazZgloszeniaButton = document.getElementById("pokazZgloszeniaButton");#}
{#      if (pokazZgloszeniaButton) {#}
{#        pokazZgloszeniaButton.addEventListener("click", function (e) {#}
{#          window.location.href = "./UrzednikPokazBledy.html";#}
{#        });#}
{#      }#}
{#      #}
{#      var zglosBladButton = document.getElementById("zglosBladButton");#}
{#      if (zglosBladButton) {#}
{#        zglosBladButton.addEventListener("click", function (e) {#}
{#          window.location.href = "./UrzednikZglosBlad.html";#}
{#        });#}
{#      }#}
{#      #}
{#      var pokazWnioskiKlientowButton = document.getElementById(#}
{#        "pokazWnioskiKlientowButton"#}
{#      );#}
{#      if (pokazWnioskiKlientowButton) {#}
{#        pokazWnioskiKlientowButton.addEventListener("click", function (e) {#}
{#          window.location.href = "./UrzednikPrzegladajWnioskiKlientow.html";#}
{#        });#}
{#      }#}
{#      #}
{#      var przegladajZgloszeniaButton = document.getElementById(#}
{#        "przegladajZgloszeniaButton"#}
{#      );#}
{#      if (przegladajZgloszeniaButton) {#}
{#        przegladajZgloszeniaButton.addEventListener("click", function (e) {#}
{#          window.location.href = "./UrzednikPrzegladajZgloszeniaKlientow.html";#}
{#        });#}
{#      }#}
{#      #}
{#      var dodajKlientaButton = document.getElementById("dodajKlientaButton");#}
{#      if (dodajKlientaButton) {#}
{#        dodajKlientaButton.addEventListener("click", function (e) {#}
{#          window.location.href = "./UrzednikDodajKlienta.html";#}
{#        });#}
{#      }#}
{#      #}
{#      var zlozWniosekButton = document.getElementById("zlozWniosekButton");#}
{#      if (zlozWniosekButton) {#}
{#        zlozWniosekButton.addEventListener("click", function (e) {#}
{#          window.location.href = "./UrzednikZlozWniosek.html";#}
{#        });#}
{#      }#}
{#      #}
{#      var pokazDaneButton = document.getElementById("pokazDaneButton");#}
{#      if (pokazDaneButton) {#}
{#        pokazDaneButton.addEventListener("click", function (e) {#}
{#          window.location.href = "./UrzednikPokazDane.html";#}
{#        });#}
{#      }#}
{#      </script>#}
  </body>
</html>
