<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./UrzednikPokazWnioski.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="urzednik-pokazwnioski">
      <img class="obraz-1-icon24" alt="" src="static/obraz-1@2x.png" />
      <div class="urzednik-pokazwnioski-child"></div>
      <b class="applicationid5">ApplicationID</b>
      <div class="data-rozpatrzenia11">Data Rozpatrzenia</div>
      <div class="data-aplikacji11">Data Aplikacji</div>
      <div class="data-weryfikacji5">Data Weryfikacji</div>
      <b class="dateofconsideration11">DateOfConsideration</b
      ><b class="dateofapplication11">DateOfApplication</b
      ><b class="dateofveryfication5">DateOfVeryfication</b>
      <div class="typ-dokumentu9">Typ Dokumentu</div>
      <b class="type5">Type</b>
      <div class="status11">Status</div>
      <b class="statusakt11">Statusakt</b>
      <div class="urzednik-pokazwnioski-item"></div>
      <button class="edytujklientowbutton23" id="edytujKlientowButton">
        <img
          class="edytujklientowbutton-child20"
          alt=""
          src="static/rectangle-772.svg"
        />
        <div class="edytuj-dane-kllienta26">Edytuj Dane Kllienta</div></button
      ><button class="pokazwnioskibutton23" id="pokazWnioskiButton">
        <img
          class="edytujklientowbutton-child20"
          alt=""
          src="static/rectangle-71.svg"
        />
        <div class="edytuj-dane-kllienta26">Pokaż Wnioski</div></button
      ><button class="pokazzgloszeniabutton14" id="pokazZgloszeniaButton">
        <img
          class="pokazzgloszeniabutton-child12"
          alt=""
          src="static/rectangle-7147.svg"
        />
        <div class="poka-zgoszenia-bdw23">Pokaż Zgłoszenia Błędów</div></button
      ><button class="zglosbladbutton23" id="zglosBladButton">
        <img
          class="edytujklientowbutton-child20"
          alt=""
          src="static/rectangle-7148.svg"
        />
        <div class="edytuj-dane-kllienta26">Zgłoś Błąd</div></button
      ><button
        class="pokazwnioskiklientowbutton26"
        id="pokazWnioskiKlientowButton"
      >
        <img
          class="edytujklientowbutton-child20"
          alt=""
          src="static/rectangle-7149.svg"
        />
        <div class="edytuj-dane-kllienta26">Przeglądaj Wnioski</div></button
      ><button
        class="przegladajzgloszeniabutton23"
        id="przegladajZgloszeniaButton"
      >
        <img
          class="pokazzgloszeniabutton-child12"
          alt=""
          src="static/rectangle-777.svg"
        />
        <div class="poka-zgoszenia-bdw23">
          Przeglądaj Zgłoszenia Błędów
        </div></button
      ><button class="dodajklientabutton23" id="dodajKlientaButton">
        <img
          class="edytujklientowbutton-child20"
          alt=""
          src="static/rectangle-771.svg"
        />
        <div class="edytuj-dane-kllienta26">Dodaj Klienta</div></button
      ><button class="zlozwniosekbutton23" id="zlozWniosekButton">
        <img
          class="zlozwniosekbutton-child21"
          alt=""
          src="static/rectangle-6.svg"
        />
        <div class="edytuj-dane-kllienta26">Złóż Wniosek</div></button
      ><button class="pokazdanebutton23" id="pokazDaneButton">
        <img
          class="zlozwniosekbutton-child21"
          alt=""
          src="static/rectangle-6.svg"
        />
        <div class="edytuj-dane-kllienta26">Pokaż Dane</div>
      </button>
    </div>

    <script>
      var edytujKlientowButton = document.getElementById("edytujKlientowButton");
      if (edytujKlientowButton) {
        edytujKlientowButton.addEventListener("click", function (e) {
          window.location.href = "./EdytujPopUPUrzednik.html";
        });
      }
      
      var pokazWnioskiButton = document.getElementById("pokazWnioskiButton");
      if (pokazWnioskiButton) {
        pokazWnioskiButton.addEventListener("click", function (e) {
          window.location.href = "./UrzednikPokazWnioski.html";
        });
      }
      
      var pokazZgloszeniaButton = document.getElementById("pokazZgloszeniaButton");
      if (pokazZgloszeniaButton) {
        pokazZgloszeniaButton.addEventListener("click", function (e) {
          window.location.href = "./UrzednikPokazBledy.html";
        });
      }
      
      var zglosBladButton = document.getElementById("zglosBladButton");
      if (zglosBladButton) {
        zglosBladButton.addEventListener("click", function (e) {
          window.location.href = "./UrzednikZglosBlad.html";
        });
      }
      
      var pokazWnioskiKlientowButton = document.getElementById(
        "pokazWnioskiKlientowButton"
      );
      if (pokazWnioskiKlientowButton) {
        pokazWnioskiKlientowButton.addEventListener("click", function (e) {
          window.location.href = "./UrzednikPrzegladajWnioskiKlientow.html";
        });
      }
      
      var przegladajZgloszeniaButton = document.getElementById(
        "przegladajZgloszeniaButton"
      );
      if (przegladajZgloszeniaButton) {
        przegladajZgloszeniaButton.addEventListener("click", function (e) {
          window.location.href = "./UrzednikPrzegladajZgloszeniaKlientow.html";
        });
      }
      
      var dodajKlientaButton = document.getElementById("dodajKlientaButton");
      if (dodajKlientaButton) {
        dodajKlientaButton.addEventListener("click", function (e) {
          window.location.href = "./UrzednikDodajKlienta.html";
        });
      }
      
      var zlozWniosekButton = document.getElementById("zlozWniosekButton");
      if (zlozWniosekButton) {
        zlozWniosekButton.addEventListener("click", function (e) {
          window.location.href = "./UrzednikZlozWniosek.html";
        });
      }
      
      var pokazDaneButton = document.getElementById("pokazDaneButton");
      if (pokazDaneButton) {
        pokazDaneButton.addEventListener("click", function (e) {
          window.location.href = "./UrzednikPokazDane.html";
        });
      }
      </script>
  </body>
</html>
