<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="static/global.css" />
    <link rel="stylesheet" href="static/UrzednikZglosBlad.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="urzednik-zglosblad">
      <div class="urzednik-zglosblad-child"></div>
      <input
        class="dataurodzeniacheck4"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="miejsceurodzeniacheck2"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="pleccheck2"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="miejscezamieszkaniacheck2"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="kodpocztowycheck2"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="ulicacheck2"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="numerdomucheck2"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="numermieszkaniacheck2"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="numertelefonucheck2"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="stancheck2"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="dataurodzeniacheck5"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="nazwiskocheck2"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="imiecheck2"
        type="checkbox"
        defaultchecked="{true}"
      /><input
        class="peselcheck2"
        type="checkbox"
        defaultchecked="{true}"
      /><img class="obraz-1-icon26" alt="" src="/static/obraz-1@2x.png" /><button
        class="wyslijblad8"
      >
        <img class="wyslijblad-child6" alt="" src="/static/rectangle-721.svg" />
        <div class="zgo-bd27">Zgłoś Błąd</div>
      </button>
      <div class="data-urodzenia12">Data Urodzenia</div>
      <div class="birthdate17"></div>
      <div class="cityofregistration19"></div>
      <div class="miejsce-zameldowania13">Miejsce Zameldowania</div>
      <div class="flatno19"></div>
      <div class="div14">-</div>
      <div class="numer-mieszkania13">Numer Mieszkania</div>
      <div class="houseno22"></div>
      <div class="div15">4</div>
      <div class="numer-domu13">Numer Domu</div>
      <div class="street19"></div>
      <div class="ulica13">Ulica</div>
      <div class="postcode19"></div>
      <div class="kod-pocztowy13">Kod Pocztowy</div>
      <div class="gender17"></div>
      <div class="pe12">Płeć</div>
      <div class="birthplace19"></div>
      <div class="miejsce-urodzenia13">Miejsce Urodzenia</div>
      <div class="name19"></div>
      <div class="imie13">Imie</div>
      <div class="pesel23"></div>
      <div class="pesel24">PESEL</div>
      <div class="surname19"></div>
      <div class="nazwisko13">Nazwisko</div>
      <div class="callprefix19"></div>
      <div class="phoneno19"></div>
      <div class="numer-telefonu13">Numer Telefonu</div>
      <div class="civilstate19"></div>
      <div class="stan-cywilny13">Stan Cywilny</div>
      <div class="citizenship23"></div>
      <div class="obywatelstwo13">Obywatelstwo</div>
      <div class="div16">98122926289</div>
      <div class="anna7">Anna</div>
      <div class="majkalska7">Majkalska</div>
      <div class="div17">1998-12-29</div>
      <div class="rzeszw7">Rzeszów</div>
      <div class="kobieta7">Kobieta</div>
      <div class="katowice7">Katowice</div>
      <div class="div18">40-750</div>
      <div class="jana-matejki7">Jana Matejki</div>
      <div class="div19">458548758</div>
      <div class="div20">+48</div>
      <div class="onatyzamna7">Żonaty/Zamężna</div>
      <div class="polskie7">POLSKIE</div>
      <div class="citizenship24"></div>
      <div class="podaj-poprawn-warto2">Podaj poprawną wartość</div>
      <div class="wybierz-bdn-warto2">Wybierz błędną wartość</div>
      <input class="input2" type="text" />
      <div class="citizenship25"></div>
      <div class="podaj-opis-bdu2">Podaj opis błędu</div>
      <textarea class="fxnkdfjn-bjvnkjbvakjs-xdbshd-f2">
554566fxnkdfjn bjvnkjbvakjs xdbshd fchds csD CHSDC DHCCDDC KDC SDCJH DSLL   dchkDSCJ kjd dfniofgnqeoirnfiernceirfcmrjf caskdncadu ncidnc</textarea
      ><button class="edytujklientowbutton25" id="edytujKlientowButton">
        <img
          class="edytujklientowbutton-child22"
          alt=""
          src="/static/rectangle-772.svg"
        />
        <div class="edytuj-dane-kllienta28">Edytuj Dane Kllienta</div></button
      ><button class="pokazwnioskibutton25" id="pokazWnioskiButton">
        <img
          class="edytujklientowbutton-child22"
          alt=""
          src="/static/rectangle-71.svg"
        />
        <div class="edytuj-dane-kllienta28">Pokaż Wnioski</div></button
      ><button class="pokazzgloszeniabutton16" id="pokazZgloszeniaButton">
        <img
          class="pokazzgloszeniabutton-child14"
          alt=""
          src="/static/rectangle-7147.svg"
        />
        <div class="poka-zgoszenia-bdw25">Pokaż Zgłoszenia Błędów</div></button
      ><button class="zglosbladbutton25" id="zglosBladButton">
        <img
          class="edytujklientowbutton-child22"
          alt=""
          src="/static/rectangle-7148.svg"
        />
        <div class="edytuj-dane-kllienta28">Zgłoś Błąd</div></button
      ><button
        class="pokazwnioskiklientowbutton28"
        id="pokazWnioskiKlientowButton"
      >
        <img
          class="edytujklientowbutton-child22"
          alt=""
          src="/static/rectangle-7149.svg"
        />
        <div class="edytuj-dane-kllienta28">Przeglądaj Wnioski</div></button
      ><button
        class="przegladajzgloszeniabutton25"
        id="przegladajZgloszeniaButton"
      >
        <img
          class="pokazzgloszeniabutton-child14"
          alt=""
          src="/static/rectangle-777.svg"
        />
        <div class="poka-zgoszenia-bdw25">
          Przeglądaj Zgłoszenia Błędów
        </div></button
      ><button class="dodajklientabutton25" id="dodajKlientaButton">
        <img
          class="edytujklientowbutton-child22"
          alt=""
          src="/static/rectangle-771.svg"
        />
        <div class="edytuj-dane-kllienta28">Dodaj Klienta</div></button
      ><button class="zlozwniosekbutton25" id="zlozWniosekButton">
        <img
          class="zlozwniosekbutton-child23"
          alt=""
          src="/static/rectangle-6.svg"
        />
        <div class="edytuj-dane-kllienta28">Złóż Wniosek</div></button
      ><button class="pokazdanebutton25" id="pokazDaneButton">
        <img
          class="zlozwniosekbutton-child23"
          alt=""
          src="/static/rectangle-6.svg"
        />
        <div class="edytuj-dane-kllienta28">Pokaż Dane</div>
      </button>
    </div>

    <script>
      var edytujKlientowButton = document.getElementById("edytujKlientowButton");
      if (edytujKlientowButton) {
        edytujKlientowButton.addEventListener("click", function (e) {
          window.location.href = "./EdytujPopUPUrzednik.html";
        });
      }
      
      var pokazWnioskiButton = document.getElementById("pokazWnioskiButton");
      if (pokazWnioskiButton) {
        pokazWnioskiButton.addEventListener("click", function (e) {
          window.location.href = "./UrzednikPokazWnioski.html";
        });
      }
      
      var pokazZgloszeniaButton = document.getElementById("pokazZgloszeniaButton");
      if (pokazZgloszeniaButton) {
        pokazZgloszeniaButton.addEventListener("click", function (e) {
          window.location.href = "./UrzednikPokazBledy.html";
        });
      }
      
      var zglosBladButton = document.getElementById("zglosBladButton");
      if (zglosBladButton) {
        zglosBladButton.addEventListener("click", function (e) {
          window.location.href = "./UrzednikZglosBlad.html";
        });
      }
      
      var pokazWnioskiKlientowButton = document.getElementById(
        "pokazWnioskiKlientowButton"
      );
      if (pokazWnioskiKlientowButton) {
        pokazWnioskiKlientowButton.addEventListener("click", function (e) {
          window.location.href = "./UrzednikPrzegladajWnioskiKlientow.html";
        });
      }
      
      var przegladajZgloszeniaButton = document.getElementById(
        "przegladajZgloszeniaButton"
      );
      if (przegladajZgloszeniaButton) {
        przegladajZgloszeniaButton.addEventListener("click", function (e) {
          window.location.href = "./UrzednikPrzegladajZgloszeniaKlientow.html";
        });
      }
      
      var dodajKlientaButton = document.getElementById("dodajKlientaButton");
      if (dodajKlientaButton) {
        dodajKlientaButton.addEventListener("click", function (e) {
          window.location.href = "./UrzednikDodajKlienta.html";
        });
      }
      
      var zlozWniosekButton = document.getElementById("zlozWniosekButton");
      if (zlozWniosekButton) {
        zlozWniosekButton.addEventListener("click", function (e) {
          window.location.href = "./UrzednikZlozWniosek.html";
        });
      }
      
      var pokazDaneButton = document.getElementById("pokazDaneButton");
      if (pokazDaneButton) {
        pokazDaneButton.addEventListener("click", function (e) {
          window.location.href = "./UrzednikPokazDane.html";
        });
      }
      </script>
  </body>
</html>
