body {
  margin: 0;
  line-height: normal;
}
.dataurodzeniacheck4,
.miejsceurodzeniacheck2,
.urzednik-zglosblad-child {
  position: absolute;
  top: 56px;
  left: 695px;
  background-color: var(--color-gray-600);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 640px;
  height: 875px;
}
.dataurodzeniacheck4,
.miejsceurodzeniacheck2 {
  cursor: pointer;
  top: 254px;
  left: 1279px;
  background-color: var(--color-gray-100);
  border: 2px solid var(--color-black);
  width: 21px;
  height: 21px;
}
.miejsceurodzeniacheck2 {
  top: 295px;
}
.dataurodzeniacheck5,
.imiecheck2,
.kodpocztowycheck2,
.miejscezamieszkaniacheck2,
.nazwiskocheck2,
.numerdomucheck2,
.numermieszkaniacheck2,
.numertelefonucheck2,
.peselcheck2,
.pleccheck2,
.stancheck2,
.ulicacheck2 {
  cursor: pointer;
  position: absolute;
  top: 336px;
  left: 1279px;
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 21px;
  height: 21px;
}
.dataurodzeniacheck5,
.imiecheck2,
.kodpocztowycheck2,
.miejscezamieszkaniacheck2,
.nazwiskocheck2,
.numerdomucheck2,
.numermieszkaniacheck2,
.numertelefonucheck2,
.peselcheck2,
.stancheck2,
.ulicacheck2 {
  top: 383px;
}
.dataurodzeniacheck5,
.imiecheck2,
.kodpocztowycheck2,
.nazwiskocheck2,
.numerdomucheck2,
.numermieszkaniacheck2,
.numertelefonucheck2,
.peselcheck2,
.stancheck2,
.ulicacheck2 {
  top: 429px;
}
.dataurodzeniacheck5,
.imiecheck2,
.nazwiskocheck2,
.numerdomucheck2,
.numermieszkaniacheck2,
.numertelefonucheck2,
.peselcheck2,
.stancheck2,
.ulicacheck2 {
  top: 469px;
}
.dataurodzeniacheck5,
.imiecheck2,
.nazwiskocheck2,
.numerdomucheck2,
.numermieszkaniacheck2,
.numertelefonucheck2,
.peselcheck2,
.stancheck2 {
  top: 512px;
}
.dataurodzeniacheck5,
.imiecheck2,
.nazwiskocheck2,
.numermieszkaniacheck2,
.numertelefonucheck2,
.peselcheck2,
.stancheck2 {
  top: 555px;
}
.dataurodzeniacheck5,
.imiecheck2,
.nazwiskocheck2,
.numertelefonucheck2,
.peselcheck2,
.stancheck2 {
  top: 609px;
}
.dataurodzeniacheck5,
.imiecheck2,
.nazwiskocheck2,
.peselcheck2,
.stancheck2 {
  top: 657px;
}
.dataurodzeniacheck5,
.imiecheck2,
.nazwiskocheck2,
.peselcheck2 {
  top: 701px;
}
.imiecheck2,
.nazwiskocheck2,
.peselcheck2 {
  top: 205px;
}
.imiecheck2,
.peselcheck2 {
  top: 161px;
}
.peselcheck2 {
  top: 118px;
}
.obraz-1-icon26 {
  position: absolute;
  top: 77px;
  left: 66px;
  width: 329px;
  height: 160px;
  object-fit: cover;
}
.wyslijblad-child6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 242px;
  height: 47px;
}
.zgo-bd27 {
  position: absolute;
  height: 90.63%;
  top: 4.69%;
  left: calc(50% - 79.46px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 159.57px;
}
.wyslijblad8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 943px;
  left: 884px;
  width: 242px;
  height: 47px;
}
.data-urodzenia12 {
  position: absolute;
  top: 241px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 74px;
  height: 6px;
}
.birthdate17,
.cityofregistration19 {
  position: absolute;
  top: 251px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.cityofregistration19 {
  top: 380px;
}
.miejsce-zameldowania13 {
  position: absolute;
  top: 370px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 99px;
  height: 7px;
}
.flatno19 {
  position: absolute;
  top: 552px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.div14 {
  position: absolute;
  top: 556px;
  left: 723px;
  text-align: center;
  display: inline-block;
}
.numer-mieszkania13 {
  position: absolute;
  top: 542px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 81px;
  height: 7px;
}
.houseno22 {
  position: absolute;
  top: 509px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.div15 {
  position: absolute;
  top: 514px;
  left: 723px;
  text-align: center;
  display: inline-block;
}
.numer-domu13 {
  position: absolute;
  top: 499px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.street19 {
  top: 466px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.postcode19,
.street19,
.ulica13 {
  position: absolute;
  left: 714px;
}
.ulica13 {
  top: 457px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.postcode19 {
  top: 426px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.kod-pocztowy13 {
  position: absolute;
  top: 418px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 69px;
  height: 7px;
}
.gender17 {
  top: 333px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.birthplace19,
.gender17,
.pe12 {
  position: absolute;
  left: 714px;
}
.pe12 {
  top: 323px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.birthplace19 {
  top: 292px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.miejsce-urodzenia13 {
  position: absolute;
  top: 282px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 81px;
  height: 7px;
}
.imie13,
.name19 {
  position: absolute;
}
.name19 {
  top: 158px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.imie13 {
  top: 148px;
  left: 695px;
  font-size: var(--font-size-3xs);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 7px;
}
.pesel23 {
  position: absolute;
  top: 114px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.pesel24 {
  top: 104px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.nazwisko13,
.pesel24,
.surname19 {
  position: absolute;
  left: 714px;
}
.surname19 {
  top: 202px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.nazwisko13 {
  top: 192px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.callprefix19,
.phoneno19 {
  position: absolute;
  top: 605px;
  left: 785px;
  background-color: var(--color-gray-200);
  width: 481px;
  height: 30px;
}
.phoneno19 {
  left: 714px;
  width: 63px;
}
.numer-telefonu13 {
  position: absolute;
  top: 592px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 74px;
  height: 6.14px;
}
.civilstate19 {
  position: absolute;
  top: 654px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.stan-cywilny13 {
  position: absolute;
  top: 645px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 74px;
  height: 6px;
}
.citizenship23 {
  position: absolute;
  top: 697px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 30px;
}
.obywatelstwo13 {
  position: absolute;
  top: 687px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 74px;
  height: 6px;
}
.anna7,
.div16,
.div17,
.kobieta7,
.majkalska7,
.rzeszw7 {
  position: absolute;
  top: 118px;
  left: 720px;
  text-align: center;
  display: inline-block;
}
.anna7,
.div17,
.kobieta7,
.majkalska7,
.rzeszw7 {
  top: 162px;
}
.div17,
.kobieta7,
.majkalska7,
.rzeszw7 {
  top: 205px;
}
.div17,
.kobieta7,
.rzeszw7 {
  top: 255px;
}
.kobieta7,
.rzeszw7 {
  top: 295px;
  left: 723px;
}
.kobieta7 {
  top: 337px;
}
.div18,
.div19,
.div20,
.jana-matejki7,
.katowice7,
.onatyzamna7,
.polskie7 {
  position: absolute;
  top: 384px;
  left: 723px;
  text-align: center;
  display: inline-block;
}
.div18,
.div19,
.div20,
.jana-matejki7,
.onatyzamna7,
.polskie7 {
  top: 430px;
}
.div19,
.div20,
.jana-matejki7,
.onatyzamna7,
.polskie7 {
  top: 469px;
  left: 720px;
}
.div19,
.div20,
.onatyzamna7,
.polskie7 {
  top: 612px;
  left: 795px;
}
.div20,
.onatyzamna7,
.polskie7 {
  top: 610px;
  left: 723px;
}
.onatyzamna7,
.polskie7 {
  top: 658px;
  left: 720px;
}
.polskie7 {
  top: 702px;
}
.citizenship24 {
  position: absolute;
  top: 771px;
  left: 717px;
  background-color: var(--color-gray-200);
  width: 595px;
  height: 33px;
}
.input2,
.podaj-poprawn-warto2,
.wybierz-bdn-warto2 {
  position: absolute;
  top: 753px;
  left: 715px;
  display: flex;
  align-items: center;
  width: 249px;
  height: 7px;
}
.input2,
.wybierz-bdn-warto2 {
  top: 80px;
  left: 710px;
  width: 231px;
  height: 6px;
}
.input2 {
  border: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-xs);
  background-color: transparent;
  top: 777px;
  left: 723px;
  color: var(--color-black);
  text-align: left;
  width: 577px;
  height: 27px;
}
.citizenship25 {
  position: absolute;
  top: 835px;
  left: 715px;
  background-color: var(--color-gray-200);
  width: 595px;
  height: 66px;
}
.fxnkdfjn-bjvnkjbvakjs-xdbshd-f2,
.podaj-opis-bdu2 {
  position: absolute;
  top: 820px;
  left: 720px;
  display: flex;
  align-items: center;
  width: 231px;
  height: 6px;
}
.fxnkdfjn-bjvnkjbvakjs-xdbshd-f2 {
  border: 0;
  background-color: transparent;
  font-family: var(--font-inter);
  font-size: var(--font-size-xs);
  top: 840px;
  left: 717px;
  color: var(--color-black);
  text-align: left;
  width: 589px;
  height: 55px;
}
.edytujklientowbutton-child22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 55.12px;
}
.edytuj-dane-kllienta28 {
  position: absolute;
  height: 90.63%;
  top: 4.69%;
  left: calc(50% - 127.07px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255.19px;
}
.edytujklientowbutton25,
.pokazwnioskibutton25 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 772.11px;
  left: 116px;
  width: 387px;
  height: 55.12px;
}
.pokazwnioskibutton25 {
  top: 439.59px;
}
.pokazzgloszeniabutton-child14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 66.31px;
}
.poka-zgoszenia-bdw25 {
  position: absolute;
  height: 90.62%;
  top: 4.69%;
  left: calc(50% - 127.07px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255.19px;
}
.dodajklientabutton25,
.pokazwnioskiklientowbutton28,
.pokazzgloszeniabutton16,
.przegladajzgloszeniabutton25,
.zglosbladbutton25 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 586.86px;
  left: 116px;
  width: 387px;
  height: 66.31px;
}
.dodajklientabutton25,
.pokazwnioskiklientowbutton28,
.przegladajzgloszeniabutton25,
.zglosbladbutton25 {
  top: 517.96px;
  height: 55.12px;
}
.dodajklientabutton25,
.pokazwnioskiklientowbutton28,
.przegladajzgloszeniabutton25 {
  top: 922.21px;
}
.dodajklientabutton25,
.przegladajzgloszeniabutton25 {
  top: 842.11px;
  height: 66.31px;
}
.dodajklientabutton25 {
  top: 701px;
  height: 55.12px;
}
.pokazdanebutton25,
.zlozwniosekbutton-child23,
.zlozwniosekbutton25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 53.4px;
}
.pokazdanebutton25,
.zlozwniosekbutton25 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 375px;
  left: 116px;
}
.pokazdanebutton25 {
  top: 299px;
}
.urzednik-zglosblad {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
