body {
  margin: 0;
  line-height: normal;
}
.obraz-1-icon7 {
  position: absolute;
  top: 77px;
  left: 66px;
  width: 329px;
  height: 160px;
  object-fit: cover;
}
.wniosekpokaz-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 683px;
  height: 372px;
}
.correctionid1 {
  position: absolute;
  top: 5px;
  left: 11px;
  display: flex;
  align-items: center;
  width: 177px;
  height: 26px;
}
.data-aplikacji2,
.data-rozpatrzenia2,
.dateofapplication2,
.dateofconsideration2 {
  position: absolute;
  top: 343px;
  left: 13px;
  display: flex;
  align-items: center;
  width: 208px;
  height: 29px;
}
.data-aplikacji2,
.dateofapplication2,
.dateofconsideration2 {
  top: 313px;
  width: 154px;
}
.dateofapplication2,
.dateofconsideration2 {
  top: 342px;
  left: 407px;
  width: 265px;
}
.dateofapplication2 {
  top: 312px;
  width: 257px;
}
.bdna-warto1,
.nazwa-pola1,
.pole4,
.pole5,
.pole6,
.poprawna-warto1 {
  position: absolute;
  top: 70px;
  left: 11px;
  display: flex;
  align-items: center;
  width: 145px;
  height: 29px;
}
.bdna-warto1,
.pole4,
.pole5,
.pole6,
.poprawna-warto1 {
  left: 406px;
  width: 258px;
  height: 35px;
}
.bdna-warto1,
.pole5,
.pole6,
.poprawna-warto1 {
  top: 140px;
  left: 11px;
  width: 177px;
  height: 29px;
}
.pole5,
.pole6,
.poprawna-warto1 {
  left: 406px;
  width: 258px;
}
.pole6,
.poprawna-warto1 {
  top: 174px;
  left: 11px;
  width: 212px;
}
.pole6 {
  left: 406px;
  width: 258px;
}
.informacja-o-bdzie1 {
  top: 213px;
  left: 13px;
  width: 229px;
  height: 29px;
}
.informacja-o-bdzie1,
.pole7,
.status2,
.statusakt2 {
  position: absolute;
  display: flex;
  align-items: center;
}
.pole7 {
  top: 242px;
  left: 13px;
  font-size: var(--font-size-xs);
  width: 651px;
  height: 59px;
}
.status2,
.statusakt2 {
  top: 105px;
  left: 11px;
  width: 73px;
  height: 29px;
}
.statusakt2 {
  left: 406px;
  width: 258px;
}
.pesel5,
.pole8 {
  position: absolute;
  top: 39px;
}
.pole8 {
  left: 407px;
  display: flex;
  align-items: center;
  width: 258px;
  height: 29px;
}
.pesel5 {
  left: 11px;
  display: inline-block;
}
.wniosekpokaz1 {
  position: absolute;
  top: 108px;
  left: 651px;
  width: 683px;
  height: 372px;
}
.burmistrz-przegladajzgloszenia-child {
  position: absolute;
  top: 74px;
  left: 622px;
  background-color: var(--color-gray-400);
  border: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 734px;
  height: 859px;
}
.akceptujbutton-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 305px;
  height: 50px;
}
.akceptuj {
  position: absolute;
  height: 78.85%;
  top: 11.54%;
  left: calc(50% - 143.08px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 283.58px;
}
.akceptujbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 956px;
  left: 657px;
  width: 305px;
  height: 50px;
}
.odrzucbutton-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 327px;
  height: 50px;
}
.odrzu {
  position: absolute;
  height: 82.4%;
  top: 12%;
  left: calc(50% - 114.86px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 229.77px;
}
.odrzucbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 956px;
  left: 1007px;
  width: 327px;
  height: 50px;
}
.edytujklientowbutton-child3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 55.12px;
}
.edytuj-dane-kllienta6 {
  position: absolute;
  height: 90.63%;
  top: 4.69%;
  left: calc(50% - 127.07px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255.19px;
}
.edytujklientowbutton6,
.pokazwnioskibutton6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 730.63px;
  left: 116px;
  width: 387px;
  height: 55.12px;
}
.pokazwnioskibutton6 {
  top: 404.59px;
}
.pokazzgloszenia-child4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 66.31px;
}
.poka-zgoszenia-bdw6 {
  position: absolute;
  height: 90.62%;
  top: 4.69%;
  left: calc(50% - 127.07px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255.19px;
}
.dodajklientabutton6,
.pokazwnioskiklientowbutton6,
.pokazzgloszenia6,
.przegladajzgloszeniabutton6,
.zglosbladbutton6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 551.86px;
  left: 116px;
  width: 387px;
  height: 66.31px;
}
.dodajklientabutton6,
.pokazwnioskiklientowbutton6,
.przegladajzgloszeniabutton6,
.zglosbladbutton6 {
  top: 482.96px;
  height: 55.12px;
}
.dodajklientabutton6,
.pokazwnioskiklientowbutton6,
.przegladajzgloszeniabutton6 {
  top: 880.72px;
}
.dodajklientabutton6,
.przegladajzgloszeniabutton6 {
  top: 800.63px;
  height: 66.31px;
}
.dodajklientabutton6 {
  top: 659.52px;
  height: 55.12px;
}
.zlozwniosekbutton-child4,
.zlozwniosekbutton6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 53.4px;
}
.zlozwniosekbutton6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 340px;
  left: 116px;
}
.burmistrz-przegladajzgloszenia {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
