body {
  margin: 0;
  line-height: normal;
}
.obraz-1-icon1 {
  position: absolute;
  top: 77px;
  left: 66px;
  width: 329px;
  height: 160px;
  object-fit: cover;
}
.wniosekpokaz-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 683px;
  height: 372px;
}
.correctionid {
  position: absolute;
  top: 11px;
  left: 11px;
  display: flex;
  align-items: center;
  width: 177px;
  height: 26px;
}
.data-aplikacji,
.data-rozpatrzenia,
.dateofconsideration {
  position: absolute;
  top: 316px;
  left: 11px;
  display: inline-block;
}
.data-aplikacji,
.dateofconsideration {
  top: 286px;
}
.dateofconsideration {
  top: 315px;
  left: 405px;
}
.bdna-warto,
.dateofapplication,
.nazwa-pola,
.pole,
.pole1 {
  position: absolute;
  top: 285px;
  left: 405px;
  display: inline-block;
}
.bdna-warto,
.nazwa-pola,
.pole,
.pole1 {
  top: 43px;
  left: 9px;
}
.bdna-warto,
.pole,
.pole1 {
  left: 404px;
}
.bdna-warto,
.pole1 {
  top: 113px;
  left: 9px;
}
.pole1 {
  left: 404px;
}
.informacja-o-bdzie,
.pole2,
.poprawna-warto {
  position: absolute;
  top: 147px;
  left: 9px;
  display: inline-block;
}
.informacja-o-bdzie,
.pole2 {
  left: 404px;
}
.informacja-o-bdzie {
  top: 186px;
  left: 11px;
}
.pole3 {
  position: absolute;
  top: 215px;
  left: 11px;
  font-size: var(--font-size-xs);
  display: flex;
  align-items: center;
  width: 633px;
  height: 57px;
}
.status,
.statusakt {
  position: absolute;
  top: 78px;
  left: 9px;
  display: inline-block;
}
.statusakt {
  left: 404px;
}
.show-wniosek,
.wniosekpokaz {
  position: absolute;
  top: 21px;
  left: 21px;
  width: 683px;
  height: 372px;
}
.show-wniosek {
  top: 82px;
  left: 618px;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  border: 4px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 726px;
  height: 860px;
  overflow: hidden;
}
.edytujklientowbutton-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 55.12px;
}
.edytuj-dane-kllienta {
  position: absolute;
  height: 90.63%;
  top: 4.69%;
  left: calc(50% - 127.07px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255.19px;
}
.edytujklientowbutton,
.pokazwnioskibutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 730.63px;
  left: 116px;
  width: 387px;
  height: 55.12px;
}
.pokazwnioskibutton {
  top: 404.59px;
}
.pokazzgloszenia-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 66.31px;
}
.poka-zgoszenia-bdw {
  position: absolute;
  height: 90.62%;
  top: 4.69%;
  left: calc(50% - 127.07px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255.19px;
}
.dodajklientabutton,
.pokazwnioskiklientowbutton,
.pokazzgloszenia,
.przegladajzgloszeniabutton,
.zglosbladbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 551.86px;
  left: 116px;
  width: 387px;
  height: 66.31px;
}
.dodajklientabutton,
.pokazwnioskiklientowbutton,
.przegladajzgloszeniabutton,
.zglosbladbutton {
  top: 482.96px;
  height: 55.12px;
}
.dodajklientabutton,
.pokazwnioskiklientowbutton,
.przegladajzgloszeniabutton {
  top: 880.72px;
}
.dodajklientabutton,
.przegladajzgloszeniabutton {
  top: 800.63px;
  height: 66.31px;
}
.dodajklientabutton {
  top: 659.52px;
  height: 55.12px;
}
.zlozwniosekbutton,
.zlozwniosekbutton-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 53.4px;
}
.zlozwniosekbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 340px;
  left: 116px;
}
.burmistrz-pokazbledy {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
