body {
  margin: 0;
  line-height: normal;
}
.burmistrz-zglosblad-child,
.dataurodzeniacheck {
  position: absolute;
  top: 56px;
  left: 695px;
  background-color: var(--color-gray-600);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 640px;
  height: 875px;
}
.dataurodzeniacheck {
  cursor: pointer;
  top: 254px;
  left: 1279px;
  background-color: var(--color-gray-100);
  border: 2px solid var(--color-black);
  width: 21px;
  height: 21px;
}
.dataurodzeniacheck1,
.imiecheck,
.kodpocztowycheck,
.miejsceurodzeniacheck,
.miejscezamieszkaniacheck,
.nazwiskocheck,
.numerdomucheck,
.numermieszkaniacheck,
.numertelefonucheck,
.peselcheck,
.pleccheck,
.stancheck,
.ulicacheck {
  cursor: pointer;
  position: absolute;
  top: 295px;
  left: 1279px;
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 21px;
  height: 21px;
}
.dataurodzeniacheck1,
.imiecheck,
.kodpocztowycheck,
.miejscezamieszkaniacheck,
.nazwiskocheck,
.numerdomucheck,
.numermieszkaniacheck,
.numertelefonucheck,
.peselcheck,
.pleccheck,
.stancheck,
.ulicacheck {
  top: 336px;
}
.dataurodzeniacheck1,
.imiecheck,
.kodpocztowycheck,
.miejscezamieszkaniacheck,
.nazwiskocheck,
.numerdomucheck,
.numermieszkaniacheck,
.numertelefonucheck,
.peselcheck,
.stancheck,
.ulicacheck {
  top: 383px;
}
.dataurodzeniacheck1,
.imiecheck,
.kodpocztowycheck,
.nazwiskocheck,
.numerdomucheck,
.numermieszkaniacheck,
.numertelefonucheck,
.peselcheck,
.stancheck,
.ulicacheck {
  top: 429px;
}
.dataurodzeniacheck1,
.imiecheck,
.nazwiskocheck,
.numerdomucheck,
.numermieszkaniacheck,
.numertelefonucheck,
.peselcheck,
.stancheck,
.ulicacheck {
  top: 469px;
}
.dataurodzeniacheck1,
.imiecheck,
.nazwiskocheck,
.numerdomucheck,
.numermieszkaniacheck,
.numertelefonucheck,
.peselcheck,
.stancheck {
  top: 512px;
}
.dataurodzeniacheck1,
.imiecheck,
.nazwiskocheck,
.numermieszkaniacheck,
.numertelefonucheck,
.peselcheck,
.stancheck {
  top: 555px;
}
.dataurodzeniacheck1,
.imiecheck,
.nazwiskocheck,
.numertelefonucheck,
.peselcheck,
.stancheck {
  top: 609px;
}
.dataurodzeniacheck1,
.imiecheck,
.nazwiskocheck,
.peselcheck,
.stancheck {
  top: 657px;
}
.dataurodzeniacheck1,
.imiecheck,
.nazwiskocheck,
.peselcheck {
  top: 701px;
}
.imiecheck,
.nazwiskocheck,
.peselcheck {
  top: 205px;
}
.imiecheck,
.peselcheck {
  top: 161px;
}
.peselcheck {
  top: 118px;
}
.obraz-1-icon4 {
  position: absolute;
  top: 77px;
  left: 66px;
  width: 329px;
  height: 160px;
  object-fit: cover;
}
.wyslijblad-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 242px;
  height: 47px;
}
.zgo-bd3 {
  position: absolute;
  height: 90.63%;
  top: 4.69%;
  left: calc(50% - 79.46px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 159.57px;
}
.wyslijblad {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 943px;
  left: 884px;
  width: 242px;
  height: 47px;
}
.data-urodzenia {
  position: absolute;
  top: 241px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 74px;
  height: 6px;
}
.birthdate,
.cityofregistration {
  position: absolute;
  top: 251px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.cityofregistration {
  top: 380px;
}
.miejsce-zameldowania {
  position: absolute;
  top: 370px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 99px;
  height: 7px;
}
.div,
.flatno {
  position: absolute;
}
.flatno {
  top: 552px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.div {
  top: 556px;
  left: 723px;
  text-align: center;
  display: inline-block;
}
.numer-mieszkania {
  position: absolute;
  top: 542px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 81px;
  height: 7px;
}
.div1,
.houseno {
  position: absolute;
}
.houseno {
  top: 509px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.div1 {
  top: 514px;
  left: 723px;
  text-align: center;
  display: inline-block;
}
.numer-domu,
.street {
  position: absolute;
  left: 714px;
}
.numer-domu {
  top: 499px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.street {
  top: 466px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.ulica {
  top: 457px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.kod-pocztowy,
.postcode,
.ulica {
  position: absolute;
  left: 714px;
}
.postcode {
  top: 426px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.kod-pocztowy {
  top: 418px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 69px;
  height: 7px;
}
.gender {
  top: 333px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.birthplace,
.gender,
.pe {
  position: absolute;
  left: 714px;
}
.pe {
  top: 323px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.birthplace {
  top: 292px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.miejsce-urodzenia {
  position: absolute;
  top: 282px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 81px;
  height: 7px;
}
.name {
  top: 158px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.imie,
.name,
.pesel {
  position: absolute;
}
.imie {
  top: 148px;
  left: 695px;
  font-size: var(--font-size-3xs);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 7px;
}
.pesel {
  top: 114px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.pesel1 {
  top: 104px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.nazwisko,
.pesel1,
.surname {
  position: absolute;
  left: 714px;
}
.surname {
  top: 202px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.nazwisko {
  top: 192px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.callprefix {
  position: absolute;
  top: 605px;
  left: 785px;
  background-color: var(--color-gray-200);
  width: 481px;
  height: 30px;
}
.numer-telefonu,
.phoneno {
  position: absolute;
  left: 714px;
}
.phoneno {
  top: 605px;
  background-color: var(--color-gray-200);
  width: 63px;
  height: 30px;
}
.numer-telefonu {
  top: 592px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 74px;
  height: 6.14px;
}
.civilstate {
  position: absolute;
  top: 654px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.stan-cywilny {
  top: 645px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 74px;
  height: 6px;
}
.citizenship,
.obywatelstwo,
.stan-cywilny {
  position: absolute;
  left: 714px;
}
.citizenship {
  top: 697px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 30px;
}
.obywatelstwo {
  top: 687px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 74px;
  height: 6px;
}
.anna,
.div2,
.div3,
.majkalska,
.rzeszw {
  position: absolute;
  top: 118px;
  left: 720px;
  text-align: center;
  display: inline-block;
}
.anna,
.div3,
.majkalska,
.rzeszw {
  top: 162px;
}
.div3,
.majkalska,
.rzeszw {
  top: 205px;
}
.div3,
.rzeszw {
  top: 255px;
}
.rzeszw {
  top: 295px;
  left: 723px;
}
.div4,
.div5,
.div6,
.jana-matejki,
.katowice,
.kobieta,
.onatyzamna,
.polskie {
  position: absolute;
  top: 337px;
  left: 723px;
  text-align: center;
  display: inline-block;
}
.div4,
.div5,
.div6,
.jana-matejki,
.katowice,
.onatyzamna,
.polskie {
  top: 384px;
}
.div4,
.div5,
.div6,
.jana-matejki,
.onatyzamna,
.polskie {
  top: 430px;
}
.div5,
.div6,
.jana-matejki,
.onatyzamna,
.polskie {
  top: 469px;
  left: 720px;
}
.div5,
.div6,
.onatyzamna,
.polskie {
  top: 612px;
  left: 795px;
}
.div6,
.onatyzamna,
.polskie {
  top: 610px;
  left: 723px;
}
.onatyzamna,
.polskie {
  top: 658px;
  left: 720px;
}
.polskie {
  top: 702px;
}
.citizenship1 {
  position: absolute;
  top: 771px;
  left: 717px;
  background-color: var(--color-gray-200);
  width: 595px;
  height: 33px;
}
.input,
.podaj-poprawn-warto,
.wybierz-bdn-warto {
  position: absolute;
  top: 753px;
  left: 715px;
  display: flex;
  align-items: center;
  width: 249px;
  height: 7px;
}
.input,
.wybierz-bdn-warto {
  top: 80px;
  left: 710px;
  width: 231px;
  height: 6px;
}
.input {
  border: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-xs);
  background-color: transparent;
  top: 777px;
  left: 723px;
  color: var(--color-black);
  text-align: left;
  width: 95px;
  height: 20px;
}
.citizenship2 {
  position: absolute;
  top: 835px;
  left: 715px;
  background-color: var(--color-gray-200);
  width: 595px;
  height: 66px;
}
.fxnkdfjn-bjvnkjbvakjs-xdbshd-f,
.podaj-opis-bdu {
  position: absolute;
  top: 820px;
  left: 720px;
  display: flex;
  align-items: center;
  width: 231px;
  height: 6px;
}
.fxnkdfjn-bjvnkjbvakjs-xdbshd-f {
  border: 0;
  background-color: transparent;
  font-family: var(--font-inter);
  font-size: var(--font-size-xs);
  top: 840px;
  left: 717px;
  color: var(--color-black);
  text-align: left;
  width: 589px;
  height: 55px;
}
.rectangle-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 55.12px;
}
.edytuj-dane-kllienta3 {
  position: absolute;
  height: 90.63%;
  top: 4.69%;
  left: calc(50% - 127.07px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255.19px;
}
.edytujklientowbutton3,
.pokazwnioskibutton3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 730.63px;
  left: 116px;
  width: 387px;
  height: 55.12px;
}
.pokazwnioskibutton3 {
  top: 404.59px;
}
.pokazzgloszenia-child1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 66.31px;
}
.poka-zgoszenia-bdw3 {
  position: absolute;
  height: 90.62%;
  top: 4.69%;
  left: calc(50% - 127.07px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255.19px;
}
.dodajklientabutton3,
.pokazwnioskiklientowbutton3,
.pokazzgloszenia3,
.przegladajzgloszeniabutton3,
.zglosbladbutton3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 551.86px;
  left: 116px;
  width: 387px;
  height: 66.31px;
}
.dodajklientabutton3,
.pokazwnioskiklientowbutton3,
.przegladajzgloszeniabutton3,
.zglosbladbutton3 {
  top: 482.96px;
  height: 55.12px;
}
.dodajklientabutton3,
.pokazwnioskiklientowbutton3,
.przegladajzgloszeniabutton3 {
  top: 880.72px;
}
.dodajklientabutton3,
.przegladajzgloszeniabutton3 {
  top: 800.63px;
  height: 66.31px;
}
.dodajklientabutton3 {
  top: 659.52px;
  height: 55.12px;
}
.zlozwniosekbutton-child1,
.zlozwniosekbutton3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 53.4px;
}
.zlozwniosekbutton3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 340px;
  left: 116px;
}
.burmistrz-zglosblad {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
