body {
  margin: 0;
  line-height: normal;
}
.obraz-1-icon10 {
  position: absolute;
  top: 77px;
  left: 66px;
  width: 329px;
  height: 160px;
  object-fit: cover;
}
.wniosekpokaz-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 683px;
  height: 372px;
}
.correctionid2 {
  position: absolute;
  top: 11px;
  left: 11px;
  display: flex;
  align-items: center;
  width: 177px;
  height: 26px;
}
.data-aplikacji4,
.data-rozpatrzenia4 {
  position: absolute;
  top: 316px;
  left: 11px;
  display: inline-block;
}
.data-aplikacji4 {
  top: 286px;
}
.dateofapplication4,
.dateofconsideration4 {
  position: absolute;
  top: 315px;
  left: 405px;
  display: inline-block;
}
.dateofapplication4 {
  top: 285px;
}
.bdna-warto2,
.nazwa-pola2,
.pole10,
.pole9 {
  position: absolute;
  top: 43px;
  left: 9px;
  display: inline-block;
}
.bdna-warto2,
.pole10,
.pole9 {
  left: 404px;
}
.bdna-warto2,
.pole10 {
  top: 113px;
  left: 9px;
}
.pole10 {
  left: 404px;
}
.informacja-o-bdzie2,
.pole11,
.poprawna-warto2 {
  position: absolute;
  top: 147px;
  left: 9px;
  display: inline-block;
}
.informacja-o-bdzie2,
.pole11 {
  left: 404px;
}
.informacja-o-bdzie2 {
  top: 186px;
  left: 11px;
}
.pole12 {
  position: absolute;
  top: 215px;
  left: 11px;
  font-size: var(--font-size-xs);
  display: flex;
  align-items: center;
  width: 633px;
  height: 57px;
}
.status4,
.statusakt4 {
  position: absolute;
  top: 78px;
  left: 9px;
  display: inline-block;
}
.statusakt4 {
  left: 404px;
}
.show-wniosek1,
.wniosekpokaz2 {
  position: absolute;
  top: 21px;
  left: 21px;
  width: 683px;
  height: 372px;
}
.show-wniosek1 {
  top: 82px;
  left: 618px;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  border: 4px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 726px;
  height: 860px;
  overflow: hidden;
}
.edytujklientowbutton-child6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 55.12px;
}
.edytuj-dane-kllienta10 {
  position: absolute;
  height: 90.63%;
  top: 4.69%;
  left: calc(50% - 127.07px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255.19px;
}
.edytujklientowbutton9,
.pokazwnioskibutton9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 730.63px;
  left: 116px;
  width: 387px;
  height: 55.12px;
}
.pokazwnioskibutton9 {
  top: 404.59px;
}
.pokazzgloszenia-child7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 66.31px;
}
.poka-zgoszenia-bdw9 {
  position: absolute;
  height: 90.62%;
  top: 4.69%;
  left: calc(50% - 127.07px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255.19px;
}
.dodajklientabutton9,
.pokazwnioskiklientowbutton10,
.pokazzgloszenia9,
.przegladajzgloszeniabutton9,
.zglosbladbutton9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 551.86px;
  left: 116px;
  width: 387px;
  height: 66.31px;
}
.dodajklientabutton9,
.pokazwnioskiklientowbutton10,
.przegladajzgloszeniabutton9,
.zglosbladbutton9 {
  top: 482.96px;
  height: 55.12px;
}
.dodajklientabutton9,
.pokazwnioskiklientowbutton10,
.przegladajzgloszeniabutton9 {
  top: 880.72px;
}
.dodajklientabutton9,
.przegladajzgloszeniabutton9 {
  top: 800.63px;
  height: 66.31px;
}
.dodajklientabutton9 {
  top: 659.52px;
  height: 55.12px;
}
.zlozwniosekbutton-child7,
.zlozwniosekbutton9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 53.4px;
}
.zlozwniosekbutton9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 340px;
  left: 116px;
}
.kierownik-pokazbledy {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
