body {
  margin: 0;
  line-height: normal;
}
.urzednik-pokazdane-child {
  position: absolute;
  top: 104px;
  left: 695px;
  background-color: var(--color-gray-600);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 631px;
  height: 797px;
}
.obraz-1-icon27 {
  position: absolute;
  top: 77px;
  left: 66px;
  width: 329px;
  height: 160px;
  object-fit: cover;
}
.data-urodzenia13 {
  position: absolute;
  top: 289px;
  left: 714px;
  font-size: var(--font-size-3xs);
  text-align: left;
  display: flex;
  align-items: center;
  width: 74px;
  height: 6px;
}
.birthdate18,
.cityofregistration20 {
  position: absolute;
  top: 299px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 584px;
  height: 27px;
}
.cityofregistration20 {
  top: 457px;
}
.miejsce-zameldowania14 {
  position: absolute;
  top: 447px;
  left: 714px;
  font-size: var(--font-size-3xs);
  text-align: left;
  display: flex;
  align-items: center;
  width: 99px;
  height: 7px;
}
.b47,
.flatno20 {
  position: absolute;
}
.flatno20 {
  top: 629px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 584px;
  height: 27px;
}
.b47 {
  top: 633px;
  left: 723px;
  display: inline-block;
}
.numer-mieszkania14 {
  position: absolute;
  top: 619px;
  left: 714px;
  font-size: var(--font-size-3xs);
  text-align: left;
  display: flex;
  align-items: center;
  width: 81px;
  height: 7px;
}
.b48,
.houseno23 {
  position: absolute;
}
.houseno23 {
  top: 586px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 584px;
  height: 27px;
}
.b48 {
  top: 591px;
  left: 723px;
  display: inline-block;
}
.numer-domu14 {
  position: absolute;
  top: 576px;
  left: 714px;
  font-size: var(--font-size-3xs);
  text-align: left;
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.street20 {
  top: 543px;
  background-color: var(--color-gray-200);
  width: 584px;
  height: 27px;
}
.postcode20,
.street20,
.ulica14 {
  position: absolute;
  left: 714px;
}
.ulica14 {
  top: 534px;
  font-size: var(--font-size-3xs);
  text-align: left;
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.postcode20 {
  top: 503px;
  background-color: var(--color-gray-200);
  width: 584px;
  height: 27px;
}
.kod-pocztowy14 {
  position: absolute;
  top: 495px;
  left: 714px;
  font-size: var(--font-size-3xs);
  text-align: left;
  display: flex;
  align-items: center;
  width: 69px;
  height: 7px;
}
.gender18 {
  top: 381px;
  background-color: var(--color-gray-200);
  width: 584px;
  height: 27px;
}
.birthplace20,
.gender18,
.pe13 {
  position: absolute;
  left: 714px;
}
.pe13 {
  top: 371px;
  font-size: var(--font-size-3xs);
  text-align: left;
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.birthplace20 {
  top: 340px;
  background-color: var(--color-gray-200);
  width: 584px;
  height: 27px;
}
.miejsce-urodzenia14 {
  position: absolute;
  top: 330px;
  left: 714px;
  font-size: var(--font-size-3xs);
  text-align: left;
  display: flex;
  align-items: center;
  width: 81px;
  height: 7px;
}
.imie14,
.name20 {
  position: absolute;
}
.name20 {
  top: 183px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 584px;
  height: 27px;
}
.imie14 {
  top: 173px;
  left: 695px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 7px;
}
.pesel25 {
  position: absolute;
  top: 139px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 584px;
  height: 27px;
}
.pesel26 {
  top: 129px;
  font-size: var(--font-size-3xs);
  text-align: left;
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.nazwisko14,
.pesel26,
.surname20 {
  position: absolute;
  left: 714px;
}
.surname20 {
  top: 227px;
  background-color: var(--color-gray-200);
  width: 584px;
  height: 27px;
}
.nazwisko14 {
  top: 217px;
  font-size: var(--font-size-3xs);
  text-align: left;
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.callprefix20,
.phoneno20 {
  position: absolute;
  top: 711px;
  left: 789px;
  background-color: var(--color-gray-200);
  width: 509px;
  height: 30px;
}
.phoneno20 {
  left: 714px;
  width: 63px;
}
.numer-telefonu14 {
  position: absolute;
  top: 698px;
  left: 714px;
  font-size: var(--font-size-3xs);
  text-align: left;
  display: flex;
  align-items: center;
  width: 74px;
  height: 6.14px;
}
.civilstate20 {
  position: absolute;
  top: 786px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 584px;
  height: 27px;
}
.stan-cywilny14 {
  position: absolute;
  top: 777px;
  left: 714px;
  font-size: var(--font-size-3xs);
  text-align: left;
  display: flex;
  align-items: center;
  width: 74px;
  height: 6px;
}
.citizenship26 {
  position: absolute;
  top: 829px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 584px;
  height: 30px;
}
.obywatelstwo14 {
  position: absolute;
  top: 819px;
  left: 714px;
  font-size: var(--font-size-3xs);
  text-align: left;
  display: flex;
  align-items: center;
  width: 74px;
  height: 6px;
}
.anna8,
.b49 {
  position: absolute;
  top: 143px;
  left: 720px;
  display: inline-block;
}
.anna8 {
  top: 187px;
}
.b50,
.b51,
.katowice8,
.kobieta8,
.majkalska8,
.rzeszw8 {
  position: absolute;
  top: 230px;
  left: 720px;
  display: inline-block;
}
.b50,
.b51,
.katowice8,
.kobieta8,
.rzeszw8 {
  top: 303px;
}
.b51,
.katowice8,
.kobieta8,
.rzeszw8 {
  top: 343px;
  left: 723px;
}
.b51,
.katowice8,
.kobieta8 {
  top: 385px;
}
.b51,
.katowice8 {
  top: 461px;
}
.b51 {
  top: 507px;
}
.b52,
.b53,
.jana-matejki8,
.onatyzamna8,
.polskie8 {
  position: absolute;
  top: 546px;
  left: 720px;
  display: inline-block;
}
.b52,
.b53,
.onatyzamna8,
.polskie8 {
  top: 718px;
  left: 795px;
}
.b53,
.onatyzamna8,
.polskie8 {
  top: 716px;
  left: 723px;
}
.onatyzamna8,
.polskie8 {
  top: 790px;
  left: 720px;
}
.polskie8 {
  top: 834px;
}
.edytujklientowbutton-child23 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 55.12px;
}
.edytuj-dane-kllienta29 {
  position: absolute;
  height: 90.63%;
  top: 4.69%;
  left: calc(50% - 127.07px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255.19px;
}
.edytujklientowbutton26,
.pokazwnioskibutton26 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 730.63px;
  left: 116px;
  width: 387px;
  height: 55.12px;
}
.pokazwnioskibutton26 {
  top: 404.59px;
}
.pokazzgloszenia-child24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 66.31px;
}
.poka-zgoszenia-bdw26 {
  position: absolute;
  height: 90.62%;
  top: 4.69%;
  left: calc(50% - 127.07px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255.19px;
}
.dodajklientabutton26,
.pokazwnioskiklientowbutton29,
.pokazzgloszenia26,
.przegladajzgloszeniabutton26,
.zglosbladbutton26 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 551.86px;
  left: 116px;
  width: 387px;
  height: 66.31px;
}
.dodajklientabutton26,
.pokazwnioskiklientowbutton29,
.przegladajzgloszeniabutton26,
.zglosbladbutton26 {
  top: 482.96px;
  height: 55.12px;
}
.dodajklientabutton26,
.pokazwnioskiklientowbutton29,
.przegladajzgloszeniabutton26 {
  top: 880.72px;
}
.dodajklientabutton26,
.przegladajzgloszeniabutton26 {
  top: 800.63px;
  height: 66.31px;
}
.dodajklientabutton26 {
  top: 659.52px;
  height: 55.12px;
}
.zlozwniosekbutton-child24,
.zlozwniosekbutton26 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 53.4px;
}
.zlozwniosekbutton26 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 340px;
  left: 116px;
}
.urzednik-pokazdane {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
