body {
  margin: 0;
  line-height: normal;
}
.urzednik-edytuj-klienta-child {
  position: absolute;
  top: 122px;
  left: 636px;
  background-color: var(--color-gray-600);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 752px;
  height: 782px;
}
.obraz-1-icon19 {
  position: absolute;
  top: 77px;
  left: 66px;
  width: 329px;
  height: 160px;
  object-fit: cover;
}
.aktualne-dane-klienta2,
.dane-klienta-do-edycji2 {
  position: absolute;
  top: 128px;
  left: 1042px;
  font-size: var(--font-size-sm);
  display: flex;
  align-items: center;
  width: 225px;
  height: 31px;
}
.aktualne-dane-klienta2 {
  top: 133px;
  left: 743px;
  width: 220px;
  height: 22px;
}
.wyslijblad-child4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 325px;
  height: 47px;
}
.edytuj-dane-klienta2 {
  position: absolute;
  height: 95.74%;
  top: 4.26%;
  left: calc(50% - 162.5px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 325px;
}
.wyslijblad6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 917px;
  left: 861px;
  width: 325px;
  height: 47px;
}
.data-urodzenia10 {
  position: absolute;
  top: 320px;
  left: 659px;
  display: flex;
  align-items: center;
  width: 74px;
  height: 10px;
}
.birthdate14,
.cityofregistration14 {
  position: absolute;
  top: 330px;
  left: 659px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 26px;
}
.cityofregistration14 {
  top: 486px;
  height: 27px;
}
.miejsce-zameldowania10 {
  position: absolute;
  top: 476px;
  left: 659px;
  display: flex;
  align-items: center;
  width: 98px;
  height: 6px;
}
.flatno14 {
  position: absolute;
  top: 657px;
  left: 659px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.b36,
.numer-mieszkania10 {
  position: absolute;
  display: flex;
  align-items: center;
}
.b36 {
  top: 661px;
  left: 664px;
  font-size: var(--font-size-xs);
  text-align: center;
  justify-content: center;
  width: 5px;
  height: 19px;
}
.numer-mieszkania10 {
  top: 647px;
  left: 659px;
  width: 84px;
  height: 10px;
}
.houseno17 {
  position: absolute;
  top: 614px;
  left: 659px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.b37,
.numer-domu10 {
  position: absolute;
  display: flex;
  align-items: center;
}
.b37 {
  top: 619px;
  left: 664px;
  font-size: var(--font-size-xs);
  text-align: center;
  justify-content: center;
  width: 7px;
  height: 19px;
}
.numer-domu10 {
  top: 604px;
  left: 659px;
  width: 84px;
  height: 10px;
}
.street14 {
  top: 572px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 26px;
}
.postcode14,
.street14,
.ulica10 {
  position: absolute;
  left: 659px;
}
.ulica10 {
  top: 563px;
  display: flex;
  align-items: center;
  width: 33px;
  height: 7px;
}
.postcode14 {
  top: 532px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.kod-pocztowy10 {
  position: absolute;
  top: 524px;
  left: 659px;
  display: flex;
  align-items: center;
  width: 74px;
  height: 7px;
}
.gender14 {
  top: 411px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.birthplace14,
.gender14,
.pe10 {
  position: absolute;
  left: 659px;
}
.pe10 {
  top: 401px;
  display: flex;
  align-items: center;
  width: 33px;
  height: 7px;
}
.birthplace14 {
  top: 370px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.miejsce-urodzenia10 {
  position: absolute;
  top: 360px;
  left: 659px;
  display: flex;
  align-items: center;
  width: 98px;
  height: 8px;
}
.imie10,
.name14 {
  position: absolute;
}
.name14 {
  top: 215px;
  left: 659px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 26px;
}
.imie10 {
  top: 205px;
  left: 656px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 7px;
}
.pesel18 {
  position: absolute;
  top: 171px;
  left: 659px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.pesel19 {
  top: 161px;
  display: flex;
  align-items: center;
  width: 33px;
  height: 7px;
}
.nazwisko10,
.pesel19,
.surname14 {
  position: absolute;
  left: 659px;
}
.surname14 {
  top: 258px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.nazwisko10 {
  top: 248px;
  display: flex;
  align-items: center;
  width: 65px;
  height: 10px;
}
.callprefix14,
.citizenship18,
.civilstate14,
.phoneno14 {
  position: absolute;
  top: 738px;
  left: 703px;
  background-color: var(--color-gray-200);
  width: 295px;
  height: 30px;
}
.citizenship18,
.civilstate14,
.phoneno14 {
  left: 659px;
  width: 37px;
}
.citizenship18,
.civilstate14 {
  top: 813px;
  width: 339px;
  height: 26px;
}
.citizenship18 {
  top: 855px;
  height: 30px;
}
.b38,
.b39,
.obywatelstwo10 {
  position: absolute;
  top: 845px;
  left: 659px;
  display: flex;
  align-items: center;
  width: 74px;
  height: 10px;
}
.b38,
.b39 {
  top: 661px;
  left: 664px;
  font-size: var(--font-size-xs);
  width: 334px;
  height: 23px;
}
.b39 {
  top: 619px;
  height: 22px;
}
.anna6,
.b40,
.b41,
.majkalska6,
.numer-telefonu10,
.stan-cywilny10 {
  position: absolute;
  top: 728px;
  left: 659px;
  display: flex;
  align-items: center;
  width: 98px;
  height: 6px;
}
.anna6,
.b40,
.b41,
.majkalska6,
.stan-cywilny10 {
  top: 804px;
  left: 661px;
  width: 84px;
}
.anna6,
.b40,
.b41,
.majkalska6 {
  top: 175px;
  left: 663px;
  font-size: var(--font-size-xs);
  width: 335px;
  height: 23px;
}
.anna6,
.b41,
.majkalska6 {
  top: 219px;
  height: 22px;
}
.b41,
.majkalska6 {
  top: 261px;
  height: 24px;
}
.b41 {
  top: 334px;
  height: 22px;
}
.b42,
.b43,
.b44,
.jana-matejki6,
.katowice6,
.kobieta6,
.onatyzamna6,
.polskie6,
.rzeszw6 {
  position: absolute;
  top: 373px;
  left: 664px;
  font-size: var(--font-size-xs);
  display: flex;
  align-items: center;
  width: 334px;
  height: 24px;
}
.b42,
.b43,
.b44,
.jana-matejki6,
.katowice6,
.kobieta6,
.onatyzamna6,
.polskie6 {
  top: 415px;
  height: 23px;
}
.b42,
.b43,
.b44,
.jana-matejki6,
.katowice6,
.onatyzamna6,
.polskie6 {
  top: 490px;
}
.b42,
.b43,
.b44,
.jana-matejki6,
.onatyzamna6,
.polskie6 {
  top: 536px;
}
.b43,
.b44,
.jana-matejki6,
.onatyzamna6,
.polskie6 {
  top: 575px;
  left: 663px;
  width: 335px;
}
.b43,
.b44,
.onatyzamna6,
.polskie6 {
  top: 745px;
  left: 706px;
  width: 292px;
  height: 19px;
}
.b44,
.onatyzamna6,
.polskie6 {
  top: 743px;
  left: 664px;
  width: 35px;
  height: 22px;
}
.onatyzamna6,
.polskie6 {
  top: 817px;
  left: 663px;
  width: 335px;
}
.polskie6 {
  top: 860px;
  height: 25px;
}
.cityofregistration16 {
  position: absolute;
  top: 489px;
  left: 1024px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.miejsce-zameldowania11 {
  position: absolute;
  top: 479px;
  left: 1024px;
  display: flex;
  align-items: center;
  width: 98px;
  height: 6px;
}
.flatno16 {
  position: absolute;
  top: 660px;
  left: 1024px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.b45,
.numer-mieszkania11 {
  position: absolute;
  display: flex;
  align-items: center;
}
.b45 {
  top: 664px;
  left: 1029px;
  font-size: var(--font-size-xs);
  text-align: center;
  justify-content: center;
  width: 5px;
  height: 19px;
}
.numer-mieszkania11 {
  top: 650px;
  left: 1024px;
  width: 84px;
  height: 10px;
}
.b46,
.houseno19 {
  position: absolute;
}
.houseno19 {
  top: 617px;
  left: 1024px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.b46 {
  top: 622px;
  left: 1029px;
  font-size: var(--font-size-xs);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7px;
  height: 19px;
}
.numer-domu11,
.street16 {
  position: absolute;
  left: 1024px;
}
.numer-domu11 {
  top: 607px;
  display: flex;
  align-items: center;
  width: 84px;
  height: 10px;
}
.street16 {
  top: 575px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 26px;
}
.ulica11 {
  top: 566px;
  display: flex;
  align-items: center;
  width: 33px;
  height: 7px;
}
.kod-pocztowy11,
.postcode16,
.ulica11 {
  position: absolute;
  left: 1024px;
}
.postcode16 {
  top: 535px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.kod-pocztowy11 {
  top: 527px;
  display: flex;
  align-items: center;
  width: 74px;
  height: 7px;
}
.birthplace16 {
  position: absolute;
  top: 373px;
  left: 1024px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.miejsce-urodzenia11 {
  position: absolute;
  top: 363px;
  left: 1024px;
  display: flex;
  align-items: center;
  width: 98px;
  height: 8px;
}
.imie11,
.name16 {
  position: absolute;
}
.name16 {
  top: 218px;
  left: 1024px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 26px;
}
.imie11 {
  top: 208px;
  left: 1021px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 7px;
}
.nazwisko11,
.surname16 {
  position: absolute;
  left: 1024px;
}
.surname16 {
  top: 261px;
  background-color: var(--color-gray-200);
  width: 339px;
  height: 27px;
}
.nazwisko11 {
  top: 251px;
  display: flex;
  align-items: center;
  width: 65px;
  height: 10px;
}
.callprefix16,
.citizenship20,
.civilstate16,
.phoneno16 {
  position: absolute;
  top: 741px;
  left: 1068px;
  background-color: var(--color-gray-200);
  width: 295px;
  height: 30px;
}
.citizenship20,
.civilstate16,
.phoneno16 {
  left: 1024px;
  width: 37px;
}
.citizenship20,
.civilstate16 {
  top: 816px;
  width: 339px;
  height: 26px;
}
.citizenship20 {
  top: 858px;
  height: 30px;
}
.obywatelstwo11 {
  position: absolute;
  top: 848px;
  left: 1024px;
  display: flex;
  align-items: center;
  width: 74px;
  height: 10px;
}
.birthplace17,
.callprefix17,
.cityofregistration17,
.flatno17,
.houseno20,
.name17,
.phoneno17,
.postcode17,
.street17,
.surname17 {
  border: 0;
  background-color: var(--color-gray-200);
  position: absolute;
  top: 489px;
  left: 1024px;
  width: 339px;
  height: 27px;
}
.birthplace17,
.callprefix17,
.flatno17,
.houseno20,
.name17,
.phoneno17,
.postcode17,
.street17,
.surname17 {
  top: 660px;
}
.birthplace17,
.callprefix17,
.houseno20,
.name17,
.phoneno17,
.postcode17,
.street17,
.surname17 {
  top: 617px;
}
.birthplace17,
.callprefix17,
.name17,
.phoneno17,
.postcode17,
.street17,
.surname17 {
  top: 575px;
  height: 26px;
}
.birthplace17,
.callprefix17,
.name17,
.phoneno17,
.postcode17,
.surname17 {
  top: 535px;
  height: 27px;
}
.birthplace17,
.callprefix17,
.name17,
.phoneno17,
.surname17 {
  top: 373px;
}
.callprefix17,
.name17,
.phoneno17,
.surname17 {
  top: 218px;
  height: 26px;
}
.callprefix17,
.phoneno17,
.surname17 {
  top: 261px;
  height: 27px;
}
.callprefix17,
.phoneno17 {
  top: 741px;
  left: 1068px;
  width: 295px;
  height: 30px;
}
.phoneno17 {
  left: 1024px;
  width: 37px;
}
.numer-telefonu11 {
  position: absolute;
  top: 731px;
  left: 1024px;
  display: flex;
  align-items: center;
  width: 98px;
  height: 6px;
}
.civilstate17 {
  border: 0;
  background-color: var(--color-gray-200);
  position: absolute;
  top: 816px;
  left: 1024px;
  width: 339px;
  height: 26px;
}
.stan-cywilny11 {
  position: absolute;
  top: 807px;
  left: 1026px;
  display: flex;
  align-items: center;
  width: 84px;
  height: 6px;
}
.citizenship21 {
  border: 0;
  background-color: var(--color-gray-200);
  position: absolute;
  top: 858px;
  left: 1024px;
  width: 339px;
  height: 30px;
}
.edytujklientowbutton-child15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 55.12px;
}
.edytuj-dane-kllienta21 {
  position: absolute;
  height: 90.63%;
  top: 4.69%;
  left: calc(50% - 127.07px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255.19px;
}
.edytujklientowbutton18,
.pokazwnioskibutton18 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 730.63px;
  left: 116px;
  width: 387px;
  height: 55.12px;
}
.pokazwnioskibutton18 {
  top: 404.59px;
}
.pokazzgloszenia-child16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 66.31px;
}
.poka-zgoszenia-bdw18 {
  position: absolute;
  height: 90.62%;
  top: 4.69%;
  left: calc(50% - 127.07px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255.19px;
}
.dodajklientabutton18,
.pokazwnioskiklientowbutton21,
.pokazzgloszenia18,
.przegladajzgloszeniabutton18,
.zglosbladbutton18 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 551.86px;
  left: 116px;
  width: 387px;
  height: 66.31px;
}
.dodajklientabutton18,
.pokazwnioskiklientowbutton21,
.przegladajzgloszeniabutton18,
.zglosbladbutton18 {
  top: 482.96px;
  height: 55.12px;
}
.dodajklientabutton18,
.pokazwnioskiklientowbutton21,
.przegladajzgloszeniabutton18 {
  top: 880.72px;
}
.dodajklientabutton18,
.przegladajzgloszeniabutton18 {
  top: 800.63px;
  height: 66.31px;
}
.dodajklientabutton18 {
  top: 659.52px;
  height: 55.12px;
}
.zlozwniosekbutton-child16,
.zlozwniosekbutton18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 53.4px;
}
.zlozwniosekbutton18 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 340px;
  left: 116px;
}
.urzednik-edytuj-klienta {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
