body {
  margin: 0;
  line-height: normal;
}
.dataurodzeniacheck6,
.miejsceurodzeniacheck3,
.uzytkownik-zglosblad-child {
  position: absolute;
  top: 56px;
  left: 695px;
  background-color: var(--color-gray-600);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 640px;
  height: 875px;
}
.dataurodzeniacheck6,
.miejsceurodzeniacheck3 {
  cursor: pointer;
  top: 254px;
  left: 1279px;
  background-color: var(--color-gray-100);
  border: 2px solid var(--color-black);
  width: 21px;
  height: 21px;
}
.miejsceurodzeniacheck3 {
  top: 295px;
}
.dataurodzeniacheck7,
.imiecheck3,
.kodpocztowycheck3,
.miejscezamieszkaniacheck3,
.nazwiskocheck3,
.numerdomucheck3,
.numermieszkaniacheck3,
.numertelefonucheck3,
.peselcheck3,
.pleccheck3,
.stancheck3,
.ulicacheck3 {
  cursor: pointer;
  position: absolute;
  top: 336px;
  left: 1279px;
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 21px;
  height: 21px;
}
.dataurodzeniacheck7,
.imiecheck3,
.kodpocztowycheck3,
.miejscezamieszkaniacheck3,
.nazwiskocheck3,
.numerdomucheck3,
.numermieszkaniacheck3,
.numertelefonucheck3,
.peselcheck3,
.stancheck3,
.ulicacheck3 {
  top: 383px;
}
.dataurodzeniacheck7,
.imiecheck3,
.kodpocztowycheck3,
.nazwiskocheck3,
.numerdomucheck3,
.numermieszkaniacheck3,
.numertelefonucheck3,
.peselcheck3,
.stancheck3,
.ulicacheck3 {
  top: 429px;
}
.dataurodzeniacheck7,
.imiecheck3,
.nazwiskocheck3,
.numerdomucheck3,
.numermieszkaniacheck3,
.numertelefonucheck3,
.peselcheck3,
.stancheck3,
.ulicacheck3 {
  top: 469px;
}
.dataurodzeniacheck7,
.imiecheck3,
.nazwiskocheck3,
.numerdomucheck3,
.numermieszkaniacheck3,
.numertelefonucheck3,
.peselcheck3,
.stancheck3 {
  top: 512px;
}
.dataurodzeniacheck7,
.imiecheck3,
.nazwiskocheck3,
.numermieszkaniacheck3,
.numertelefonucheck3,
.peselcheck3,
.stancheck3 {
  top: 555px;
}
.dataurodzeniacheck7,
.imiecheck3,
.nazwiskocheck3,
.numertelefonucheck3,
.peselcheck3,
.stancheck3 {
  top: 609px;
}
.dataurodzeniacheck7,
.imiecheck3,
.nazwiskocheck3,
.peselcheck3,
.stancheck3 {
  top: 657px;
}
.dataurodzeniacheck7,
.imiecheck3,
.nazwiskocheck3,
.peselcheck3 {
  top: 701px;
}
.imiecheck3,
.nazwiskocheck3,
.peselcheck3 {
  top: 205px;
}
.imiecheck3,
.peselcheck3 {
  top: 161px;
}
.peselcheck3 {
  top: 118px;
}
.obraz-1-icon29 {
  position: absolute;
  top: 77px;
  left: 66px;
  width: 329px;
  height: 160px;
  object-fit: cover;
}
.z-wniosek28 {
  position: absolute;
  height: 90.63%;
  top: 4.69%;
  left: calc(50% - 120.5px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 242px;
}
.pokazwnioskibutton28,
.zlozwniosekbutton28 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 549px;
  left: 78px;
  width: 367px;
  height: 64px;
}
.pokazwnioskibutton28 {
  top: 638px;
}
.pokazzgloszenia-child26,
.pokazzgloszenia28 {
  position: absolute;
  top: 0;
  left: 0;
  width: 367px;
  height: 77px;
}
.pokazzgloszenia28 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 854px;
  left: 78px;
}
.wyslijblad-child7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 242px;
  height: 47px;
}
.zgo-bd31 {
  position: absolute;
  height: 90.63%;
  top: 4.69%;
  left: calc(50% - 79.46px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 159.57px;
}
.wyslijblad9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 943px;
  left: 884px;
  width: 242px;
  height: 47px;
}
.pokazdanebutton-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 367px;
  height: 64px;
}
.poka-dane1 {
  position: absolute;
  height: 90.63%;
  top: 9.38%;
  left: calc(50% - 120.5px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 242px;
}
.pokazdanebutton1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 400px;
  left: 78px;
  width: 367px;
  height: 64px;
}
.data-urodzenia14 {
  position: absolute;
  top: 241px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 74px;
  height: 6px;
}
.birthdate19,
.cityofregistration21 {
  position: absolute;
  top: 251px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.cityofregistration21 {
  top: 380px;
}
.miejsce-zameldowania15 {
  position: absolute;
  top: 370px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 99px;
  height: 7px;
}
.flatno21 {
  position: absolute;
  top: 552px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.div21 {
  position: absolute;
  top: 556px;
  left: 723px;
  text-align: center;
  display: inline-block;
}
.numer-mieszkania15 {
  position: absolute;
  top: 542px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 81px;
  height: 7px;
}
.houseno24 {
  position: absolute;
  top: 509px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.div22 {
  position: absolute;
  top: 514px;
  left: 723px;
  text-align: center;
  display: inline-block;
}
.numer-domu15 {
  position: absolute;
  top: 499px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.street21 {
  top: 466px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.postcode21,
.street21,
.ulica15 {
  position: absolute;
  left: 714px;
}
.ulica15 {
  top: 457px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.postcode21 {
  top: 426px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.kod-pocztowy15 {
  position: absolute;
  top: 418px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 69px;
  height: 7px;
}
.gender19 {
  top: 333px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.birthplace21,
.gender19,
.pe14 {
  position: absolute;
  left: 714px;
}
.pe14 {
  top: 323px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.birthplace21 {
  top: 292px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.miejsce-urodzenia15 {
  position: absolute;
  top: 282px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 81px;
  height: 7px;
}
.imie15,
.name21 {
  position: absolute;
}
.name21 {
  top: 158px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.imie15 {
  top: 148px;
  left: 695px;
  font-size: var(--font-size-3xs);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 7px;
}
.pesel27 {
  position: absolute;
  top: 114px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.pesel28 {
  top: 104px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.nazwisko15,
.pesel28,
.surname21 {
  position: absolute;
  left: 714px;
}
.surname21 {
  top: 202px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.nazwisko15 {
  top: 192px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 56px;
  height: 7px;
}
.callprefix21,
.phoneno21 {
  position: absolute;
  top: 605px;
  left: 785px;
  background-color: var(--color-gray-200);
  width: 481px;
  height: 30px;
}
.phoneno21 {
  left: 714px;
  width: 63px;
}
.numer-telefonu15 {
  position: absolute;
  top: 592px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 74px;
  height: 6.14px;
}
.civilstate21 {
  position: absolute;
  top: 654px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 27px;
}
.stan-cywilny15 {
  position: absolute;
  top: 645px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 74px;
  height: 6px;
}
.citizenship27 {
  position: absolute;
  top: 697px;
  left: 714px;
  background-color: var(--color-gray-200);
  width: 552px;
  height: 30px;
}
.obywatelstwo15 {
  position: absolute;
  top: 687px;
  left: 714px;
  font-size: var(--font-size-3xs);
  display: flex;
  align-items: center;
  width: 74px;
  height: 6px;
}
.anna9,
.div23,
.div24,
.kobieta9,
.majkalska9,
.rzeszw9 {
  position: absolute;
  top: 118px;
  left: 720px;
  text-align: center;
  display: inline-block;
}
.anna9,
.div24,
.kobieta9,
.majkalska9,
.rzeszw9 {
  top: 162px;
}
.div24,
.kobieta9,
.majkalska9,
.rzeszw9 {
  top: 205px;
}
.div24,
.kobieta9,
.rzeszw9 {
  top: 255px;
}
.kobieta9,
.rzeszw9 {
  top: 295px;
  left: 723px;
}
.kobieta9 {
  top: 337px;
}
.div25,
.div26,
.div27,
.jana-matejki9,
.katowice9,
.onatyzamna9,
.polskie9 {
  position: absolute;
  top: 384px;
  left: 723px;
  text-align: center;
  display: inline-block;
}
.div25,
.div26,
.div27,
.jana-matejki9,
.onatyzamna9,
.polskie9 {
  top: 430px;
}
.div26,
.div27,
.jana-matejki9,
.onatyzamna9,
.polskie9 {
  top: 469px;
  left: 720px;
}
.div26,
.div27,
.onatyzamna9,
.polskie9 {
  top: 612px;
  left: 795px;
}
.div27,
.onatyzamna9,
.polskie9 {
  top: 610px;
  left: 723px;
}
.onatyzamna9,
.polskie9 {
  top: 658px;
  left: 720px;
}
.polskie9 {
  top: 702px;
}
.citizenship28 {
  position: absolute;
  top: 771px;
  left: 717px;
  background-color: var(--color-gray-200);
  width: 595px;
  height: 33px;
}
.input3,
.podaj-poprawn-warto3,
.wybierz-bdn-warto3 {
  position: absolute;
  top: 753px;
  left: 715px;
  display: flex;
  align-items: center;
  width: 249px;
  height: 7px;
}
.input3,
.wybierz-bdn-warto3 {
  top: 80px;
  left: 710px;
  width: 231px;
  height: 6px;
}
.input3 {
  border: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-xs);
  background-color: transparent;
  top: 777px;
  left: 723px;
  color: var(--color-black);
  text-align: left;
  width: 589px;
  height: 31px;
}
.citizenship29 {
  position: absolute;
  top: 835px;
  left: 715px;
  background-color: var(--color-gray-200);
  width: 595px;
  height: 66px;
}
.podaj-opis-bdu3 {
  position: absolute;
  top: 820px;
  left: 720px;
  display: flex;
  align-items: center;
  width: 231px;
  height: 6px;
}
.fxnkdfjn-bjvnkjbvakjs-xdbshd-f3,
.zglosbladwniosek1 {
  border: 0;
  background-color: transparent;
  position: absolute;
}
.fxnkdfjn-bjvnkjbvakjs-xdbshd-f3 {
  font-family: var(--font-inter);
  font-size: var(--font-size-xs);
  top: 840px;
  left: 717px;
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 589px;
  height: 55px;
}
.zglosbladwniosek1 {
  cursor: pointer;
  padding: 0;
  top: 776px;
  left: 78px;
  width: 367px;
  height: 64px;
}
.uzytkownik-zglosblad {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
